.dropdown-menu-fixed {
  min-width:210px;

}


@media screen and (max-width: 1170px) {
  .dropdown-menu-fixed {
    min-width:170px;
  }
}

.col-md-12 {
	padding-right:unset;
}

.col-md-8 {
	padding-right:unset;
}