.tooltip{ /*stili per il tooltip */
    /*posizione e domensioni*/
    position:absolute; top: 2em; left: 2em; width: 15em;
    /*bordi e colore */
    border: 1px solid #6C9; background-color: #A8F8D0;; color:#000;
    /*font e testo */
    font-size: 80%;text-align: center
    }