{% extends "taws/report_template.html" %}
{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/report.css" %}" />
<script>
	function download(filename, text) {
	  var element = document.createElement('a');
	  element.setAttribute('href', 'data:application/octet-stream;charset=utf-8,' + encodeURIComponent(text));
	  element.setAttribute('download', filename);

	  element.style.display = 'none';
	  document.body.appendChild(element);

	  element.click();

	  document.body.removeChild(element);
	}

	var jobTable;
	function goToJob(){
		sendDBReport.action='/taws/viewJobDetails/?jobName={{ job_name }}';
		sendDBReport.submit();
	}
	
	
	
	function goToBuild(){
		sendDBReport.action='/taws/viewBuildDetails/';
		sendDBReport.submit();
	}
	
	
	
	
	$(document).ready(function() {
	document.getElementById('mainTitle').innerHTML='Report Collection';
	jobTable = $('#reportTable').DataTable({
		dom:'<"row"<"col-sm-2"l><"col-sm-7"><"col-sm-3"f>>\
				<"row"<"col-sm-12"tr>>\
				<"row"<"col-sm-2"i><"col-sm-5"><"col-sm-5"p>>\
				<"row"<"col-sm-4"><"col-sm-4"B><"col-sm-4">>',
		buttons: [ { extend: 'copy', text: '<i class="fa fa-files-o fa-lg"></i>', titleAttr: 'Copy to Clipboard' },
		{extend: 'csv', text: '<i class="fa fa-file-text-o fa-lg"></i>', titleAttr: 'Save to CSV file'},
		{extend: 'excel', text: '<i class="fa fa-file-excel-o fa-lg"></i>', titleAttr: 'Save to Excel file'},
		{extend: 'pdf', text: '<i class="fa fa-file-pdf-o fa-lg"></i>', titleAttr: 'Save to PDF file'},
		{extend: 'print', text: '<i class="fa fa-print fa-lg"></i>', titleAttr: 'Print table'},
		{
			text:'<i class="fa fa-database fa"></i>',
			titleAttr: 'Export report to K@TE Database',
			action:function(){if('{{ KateDB }}'=='KO'){sendDBReport.azione.value='addResult';sendDBReport.submit();}else{showalert("Result already exported to KATE DB...","alert-danger")}},
			className:'btn-custom'
		},
		{
			text:'<i class="fa fa-database fa"></i>',
			titleAttr: 'Export report to JIRA',
			action:function(){sendDBReport.azione.value='exportJIRA';sendDBReport.submit();},
			className:'btn-custom'
		},
		
		],
		scrollY:'380px',
		scrollCollapse:true,
		order: [[ 1, 'asc' ]],
		"columns": [
			{
				"orderable": false,
				"className": "select-checkbox",
				"targets":   0
			},
			{
				"data": "reportTest_id", 
				"className": "dt-center" 
			},
			{
				 "data": "reportTest_name",
				"className": "dt-center"
			},
			{
				"data": "report", 
				"className": "dt-center"
			},
			{
				"data": "nodeName", 
				"className": "dt-center"
			},
			{
				"data": "nodeType", 
				"className": "dt-center"
			},
			{
				"data": "nodeSWP", 
				"className": "dt-center"
			},
			{
				"data": "report_jiraStory", 
				"className": "dt-center"
			},
			{
				"data": "report_jiraTask", 
				"className": "dt-center"
			},
			{
				"data": "report_notes", 
				"className": "dt-center"
			}
			],
		select: {
			style:    'os',
			selector: 'td:first-child'
		        }
	});//end DataTable
	
});// end ready function


	function sendTawsDB(){
		var data = jobTable.$('input, text').serialize();
		alert(
		    "The following data would have been submitted to the server: \n\n"+
		    data.substr( 0, 120 )+'...'
		);
		/*var sxTable=document.getElementById('reportTable');
		sendDBReport.notes.value='';
		alert(jobTable.rows('.selected').data().length);
		for(k=0;k<jobTable.rows('.selected').data().length;k++){
			savingString+=testBundleTable.row(k).data().testId+'#';
			sect1=0;
			sect2=0;
			sect3=0;
			sect4=0;
			sect5=0;
			if(!(testBundleTable.row(testBundleTable.rows()[k]).data().sect1.match('disabled'))){sect1+=1;}
			if(!(testBundleTable.row(testBundleTable.rows()[k]).data().sect2.match('disabled'))){sect2+=1;}
			if(!(testBundleTable.row(testBundleTable.rows()[k]).data().sect3.match('disabled'))){sect3+=1;}
			if(!(testBundleTable.row(testBundleTable.rows()[k]).data().sect4.match('disabled'))){sect4+=1;}
			if(!(testBundleTable.row(testBundleTable.rows()[k]).data().sect5.match('disabled'))){sect5+=1;}
			if(testBundleTable.row(testBundleTable.rows()[k]).data().sect1.match('checked')){sect1+=1;}
			if(testBundleTable.row(testBundleTable.rows()[k]).data().sect2.match('checked')){sect2+=1;}
			if(testBundleTable.row(testBundleTable.rows()[k]).data().sect3.match('checked')){sect3+=1;}
			if(testBundleTable.row(testBundleTable.rows()[k]).data().sect4.match('checked')){sect4+=1;}
			if(testBundleTable.row(testBundleTable.rows()[k]).data().sect5.match('checked')){sect5+=1;}
			savingString+=String(sect1)+String(sect2)+String(sect3)+String(sect4)+String(sect5)+'$';
		}
		for(i=1;i<sxTable.rows.length;i++){
			document.getElementById('notes').value+=sxTable.rows[i].cells[3].firstChild.value+'$';
		}
		alert(document.getElementById('notes').value);*/
		//sendTAWSDBReport.submit()
	}
</script>

{% if JIRAcsv != "" %}
<script>
	download('{{ job_name }}-{{ instance }}.bat', '{{ JIRAcsv }}');
</script>
{% endif %}

<div style="width:1024px;position:fixed;left:50%;margin-left:-512px;z-index:9;height:700px;margin-top:30px">
	<div>
		<ol class="breadcrumb">
			<li><a href="/taws/runJenkins/">Jobs</a></li>
			<li><a href="#" onclick="goToJob()">{{ job_name }}</a></li>
			<li><a href="#" onclick="goToBuild()">{{ instance }}</a></li>
			<li class="active">Results</li>
		</ol>
	</div>





<form name="sendDBReport" action="/taws/collectReports/" method="post" target="_self">{% csrf_token %}
	<input type="hidden" name="jobName" value="{{ job_name }}">
	<input type="hidden" name="buildId" value="{{ instance }}">
	<input type="hidden" name="azione" value="">
	<input type="hidden" name="notes" value="">

	<table class="display table table-striped table-hover table-condensed" cellspacing="0" id="reportTable">
		<thead>
			<tr>
					<th></th>
					<th>N.</th>
					<th>Test List</th>
					<th>Report</th>
					<th>NodeName</th>
					<th>NodeType</th>
					<th>NodeSWP</th>
					<th>Story</th>
					<th>Task</th>
					<th>Notes</th>
			</tr>
		</thead>
		<tfoot>
		</tfoot>
		<tbody>
		
			{% for build in buildMatrix %}
			<tr>
				<td></td>
				<td>{{ build.counter }}</td>
				<td>{{ build.testName }}</td>
				<td>{{ build.testStatus }}</td>
				<td>
					<ul class="list-group">
						{% for tps in build.tpsList %}
							<li class="list-group-item list-group-item-{{tps.tpsBgcolor}}">{{ tps.nodeName }}</li>
						{% endfor %}
					</ul>
				</td>
				<td>
					<ul class="list-group">
						{% for tps in build.tpsList %}
							<li class="list-group-item list-group-item-{{tps.tpsBgcolor}}">{{ tps.nodeType }}</li>
						{% endfor %}
					</ul>
				</td>
				<td>
					<ul class="list-group">
						{% for tps in build.tpsList %}
							<li class="list-group-item list-group-item-{{tps.tpsBgcolor}}">{{ tps.nodeSWP }}</li>
						{% endfor %}
					</ul>
				</td>
				<td>
					<ul class="list-group">
						{% for tps in build.tpsList %}
							<li class="list-group-item list-group-item-{{tps.tpsBgcolor}}">{{ tps.tpsArea }}</li>
						{% endfor %}
					</ul>
				</td>
				<td>
					<ul class="list-group">
						{% for tps in build.tpsList %}
							<li class="list-group-item list-group-item-{{tps.tpsBgcolor}}">{{ tps.tpsName }}</li>
						{% endfor %}
					</ul>
				</td>
				<td>
					<ul class="list-group">
						{% for tps in build.tpsList %}
							<li class="list-group-item-report"><input id="note{{ tps.noteCounter }}" name="note{{ tps.noteCounter }}" type='text' class="item-input" value=''></li>
						{% endfor %}
					</ul>
				</td>
		
			</tr>
			{% endfor %}
			
		</tbody>
	</table>
	

	<table align="center" id="maxiTable" width="95%" height="90%" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;" border="1">
		<tr>
			<td bgcolor="#D6E0F4" style="height:30px" colspan="5" align="center">
				{% if azione != "addResult" %}
					<input type="button" id="addResult" class="stylishButton" style="font-size : 7pt;" value="ADD RESULTS" onclick="sendTawsDB();">
				{% endif %}
				<input type="hidden" name="DBNames" value="">
				<input type="hidden" name="DBStatus" value="">
				<input type="hidden" name="notes" value="">
				<input type="hidden" name="TPSValues" value="">
			</td>	
		</tr>
	</table>
</form>
{% endblock %}


