{% load static %}
{% include "taws/header.txt" %}

<HTML>
<HEAD>
<TITLE>Run Creator</TITLE>
<script>
	function fitText(){
		mytable=document.getElementByID('createRun');
		if(mytable.rows[1].cells[0].innerHTML.length > maxLength)
        {
            mytable.rows[1].cells[0].style.fontSize = "8px";
        }
	}
	function fillSelectCreator(valueStr,myselect,selection){
	  if(valueStr!=''){myselect.disabled=false;}
	    else{myselect.disabled=true;}
	  myselect.length=1;
	  tempAry1=valueStr.split('%');
	  for(i=0;i<tempAry1.length;i++){
	    tempAry2=tempAry1[i].split('|');
	    var addTest = document.createElement('option');
	    addTest.text = tempAry2[0];
	    addTest.value = tempAry2[1];
	    myselect.add(addTest);
	  }
	}
	function runJob(){
		mytable=document.getElementById('benchTable');
		tempStr=''
		for(i=3;i<benchTable.rows().data().length;i++){
			swp=0;
			forceLoad=0;
			//alert(mytable.rows[i].cells[4].innerHTML);
			if(mytable.rows(i).data()[0].swrel!='N.A.'){
				swp=mytable.rows(i).data()[0].SWP;
			}
			if(mytable.rows[i].cells[5].childNodes[1].disabled==false&&mytable.rows[i].cells[5].childNodes[1].checked==true){
				forceLoad=1;
			}
			tempStr+=mytable.rows[i].cells[4].id+'#'+swp+'#'+forceLoad+'$';
		}
		runTest.target.value=tempStr.slice(0,-1);
		runTest.submit();
		//alert(runTest.target.value);
	}

		$(document).ready(function() {

			benchTable = $('#benchTable').DataTable({
				scrollY:'380px',
				scrollCollapse:true,"columns": [
				{
					"data": "type", 
					"className": "dt-center" 
				},
				{
					"data": "name",
					"className": "dt-center" 
				},
				{
					"data": "owner", 
					"className": "dt-center" 
				},
				{
					"data": "swrel", 
					"className": "dt-center" 
				},
				{
					"data": "SWPSelect", 
					"className": "dt-center"
				},
				{
					"data": "SWP", 
					"className": "dt-center",
					"visible" : false
				},
				{
					"data": "forceLoadCheckbox", 
					"className": "dt-center"
				},
				{
					"data": "forceLoad", 
					"className": "dt-center",
					"visible" : false
				}]
			});
		});

</script>
</HEAD>
<script type="text/javascript" src='{% static "js/TCA_scripts.js" %}'></script>
<BODY BGCOLOR="#eeeeee">
<form name="runTest" action="/taws/createRunJenkins/?azione=runTest&jobName={{ job_name }}" method="post" target="_self">{% csrf_token %}
	<input type="hidden" name="target">
	<input type="hidden" name="gowr" value='CONTINUE'>
	<input type="hidden" value="{{ job_name }}" name="jobName">
	<input type="hidden" value="" name="suiteTime">
	<table class="table table-striped table-hover table-condensed" cellspacing="0" id="benchTable">
		<thead>
			<tr>
				<th>Type</th>
				<th>Name</th>
				<th>Owner</th>
				<th>SW Release</th>
				<th>SW Package</th>
				<th></th>
				<th>Force Load</th>
				<th></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Type</th>
				<th>Name</th>
				<th>Owner</th>
				<th>SW Release</th>
				<th>SW Package</th>
				<th></th>
				<th>Force Load</th>
				<th></th>
			</tr>
		</tfoot>
		<tbody>
		{% for eqpt in swRelMatrix %}
			<tr>
				<td>{{ eqpt.prodName }}</td>
				<td>{{ eqpt.eqptName }}</td>
				<td>{{ eqpt.owner }}</td>
				<td>
					{% if eqpt.packageList != 'None'%}
						<select onchange="fillSelectCreator(this.value,$(this).closest(\'tr\'),'');">
							<option value="" >REL</option>
							{% for swRel in eqpt.packageList %}
								<option value="{{ swRel.packList }}" >{{ swRel.swRelList }}</option>
							{% endfor %}
						</select>
					{% else %}N.A.{% endif %}
				</td>
				<td id="{{ eqpt.id_equipmet }}">
					{% if eqpt.packageList != 'None'%}
						<select disabled id="swp">
							<option value="" >PKG</option>
						</select>
					{% else %}N.A.{% endif %}
				</td>
				<td id="{{ eqpt.id_equipmet }}">
					<input type="checkbox" {% if eqpt.packageList == 'None'%}disabled{% endif %} />
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<table>
		<tr height="40px">
			<td style="border:1px #660099 solid;" align="center">
				<input type="button" class="stylishButton" value="RUN" style="font-size : 8pt;" id="RUNbtn" onclick="runJob();">
				<input type="button" disabled class="stylishButton" value="SCHEDULE" style="font-size : 8pt;width:114px;" id="SCHEDULEbtn" onclick="alert(SWRelease.value);runTest.action='accesso.asp?azione=scheduleSuite';target.value=document.getElementById('benchLabel').innerHTML;submit();window.close();">
			</td>
		</tr>
	</table>
</form>
</BODY>
{% if action == '' %}
  <script language='javascript'>
    window.opener.top.principale.location.href='runJenkins.asp';
		window.close();
  </script>
{% endif %}

</HTML>

