{% load static %}
<HTML>
<HEAD>
<TITLE>Run Creator</TITLE>
<LINK rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
<link rel='stylesheet' type='text/css' href='{% static "css/datepicker_vista/datepicker_vista.css" %}' />
<script type='text/javascript' src='{% static "js/bundle.js" %}'></script>
<script type='text/javascript' src='{% static "js/datepicker.js" %}'></script>
<script>
	function fitText(){
		mytable=document.getElementByID('createRun');
		if(mytable.rows[1].cells[0].innerHTML.length > maxLength)
        {
            mytable.rows[1].cells[0].style.fontSize = "8px";
        }
	}
	function fillSelectCreator(valueStr,myselect,selection){
	  if(valueStr!=''){myselect.disabled=false;}
	    else{myselect.disabled=true;}
	  myselect.length=1;
	  tempAry1=valueStr.split('%');
	  for(i=0;i<tempAry1.length;i++){
	    tempAry2=tempAry1[i].split('|');
	    var addTest = document.createElement('option');
	    addTest.text = tempAry2[0];
	    addTest.value = tempAry2[1];
	    myselect.add(addTest);
	  }
	}
	function runJob(){
		mytable=document.getElementById('createRun');
		tempStr=''
		for(i=3;i<mytable.rows.length-1;i++){
			swp=0;
			forceLoad=0;
			//alert(mytable.rows[i].cells[4].innerHTML);
			if(mytable.rows[i].cells[4].innerHTML.indexOf('N.A.')<0){
				swp=mytable.rows[i].cells[4].childNodes[1].value;
			}
			if(mytable.rows[i].cells[5].childNodes[1].disabled==false&&mytable.rows[i].cells[5].childNodes[1].checked==true){
				forceLoad=1;
			}
			tempStr+=mytable.rows[i].cells[4].id+'#'+swp+'#'+forceLoad+'$';
		}
		runTest.target.value=tempStr.slice(0,-1);
		runTest.submit();
		//alert(runTest.target.value);
	}
</script>
</HEAD>
<script type="text/javascript" src='{% static "js/TCA_scripts.js" %}'></script>
<BODY BGCOLOR="#eeeeee">
<form name="runTest" action="/taws/createRunJenkins/?azione=runTest&jobName={{ job_name }}" method="post" target="_self">{% csrf_token %}
	<input type="hidden" name="target">
	<input type="hidden" name="gowr" value='CONTINUE'>
	<input type="hidden" value="{{ job_name }}" name="jobName">
	<input type="hidden" value="" name="suiteTime">
	<table align="center" id="createRun" style="width:100%" border="0" style="border-collapse: collapse;border-color:#D6E0F4;table-layout:fixed;">
		<tr><td colspan="6" align="left" height="20px"><h2>Provide Run Settings For Suite : {{ job_name }}</h2></td></tr>
		<tr height="30px" align='center' bgcolor="#660099" style="font-size :9pt;text-decoration:none; font-family:verdana, sans-serif; font-weight: bold;">
			<td colspan="6" style="border:1px #660099 solid;color=#000000;">Suite Parameters</td>
		<tr>
		{% for eqpt in swRelMatrix %}
			<tr height="30px" bgcolor="#D6E0F4" style="font-size :9pt;text-decoration:none; font-family:verdana, sans-serif; font-weight: bold;text-align:center;">
				<td style="border:1px #660099 solid">{{ eqpt.prodName }}</td>
				<td style="border:1px #660099 solid">{{ eqpt.eqptName }}</td>
				<td style="border:1px #660099 solid">{{ eqpt.owner }}</td>
				<td style="border:1px #660099 solid">
					{% if eqpt.packageList != 'None'%}
						<select onchange="fillSelectCreator(this.value,swp,'');">
							<option value="" >REL</option>
							{% for swRel in eqpt.packageList %}
								<option value="{{ swRel.packList }}" >{{ swRel.swRelList }}</option>
							{% endfor %}
						</select>
					{% else %}N.A.{% endif %}
				</td>
				<td style="border:1px #660099 solid" id="{{ eqpt.id_equipmet }}">
					{% if eqpt.packageList != 'None'%}
						<select disabled id="swp">
							<option value="" >PKG</option>
						</select>
					{% else %}N.A.{% endif %}
				</td>
				<td style="border:1px #660099 solid" id="{{ eqpt.id_equipmet }}">
					<input type="checkbox" {% if eqpt.packageList == 'None'%}disabled{% endif %} />
				</td>
			</tr>
		{% endfor %}
		<tr height="40px">
			<td style="border:1px #660099 solid;" align="center" colspan="6">
				<input type="button" class="stylishButton" value="RUN" style="font-size : 8pt;" id="RUNbtn" onclick="runJob();">
				<input type="button" disabled class="stylishButton" value="SCHEDULE" style="font-size : 8pt;width:114px;" id="SCHEDULEbtn" onclick="alert(SWRelease.value);runTest.action='accesso.asp?azione=scheduleSuite';target.value=document.getElementById('benchLabel').innerHTML;submit();window.close();">
			</td>
		</tr>
	</table>
</form>
</BODY>
{% if action == '' %}
  <script language='javascript'>
    window.opener.top.principale.location.href='runJenkins.asp';
		window.close();
  </script>
{% endif %}

</HTML>

