{% extends "taws/development_template.html" %}
{% block body %}
{% load static %}
<div id="title" style="position:absolute;right:50%;margin-right:-512px;margin-top:-20px;background-color:#414141;">
	<h2 style="color:white;font-size: 19px;text-align:right;margin:0px 0px 0px 0px;"></h2>
</div>

<table width="100%" height="90%">
	<tr>
		<td align="right" valign="bottom" style="padding-bottom:20px;">
			<h1><b><u><i>Development Environment</i></u></b></center></h1>
		</td>
		<td align="left" style="padding-top:50px;padding-left:100px;">
			<IMG SRC="{% static "images/logo.jpg" %}">
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2" cellspacing="0" cellpadding="0">
			<IMG SRC="{% static "images/logo2.jpg" %}" width="500px">
		</td>
	</tr>
<table>

{% endblock %}
