{% extends "taws/report_template.html" %}
{% block body %}
{% load static %}





<link rel="stylesheet" type="text/css" href="{% static "css/suiteCreator.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/testDevelopment.css" %}" />
<script>
	//addLoadEvent(function() {placeIt();});
	owner='{{ login }}';
	var myURL = "{% url 'accesso' %}";
	var SECT = new Array();
	SECT[1]="{% static 'images/sect1.gif' %}";
	SECT[0]="{% static 'images/sect0.gif' %}";
  job_name='{{ job_name }}';
  suite_name='';
  mySuiteAry='';
</script>

<script>


var jsonProductAry, jsonTopoAry, jsonUserPreset;
var myProduct;
var presetName = new Array();
var presetID = new Array();
var test_list = '{{ test_list }}'
var testTable;
var refreshIntervalId;

function refreshTestTable() {
	testTable.api().ajax.reload();
	console.log('calling table reload...');
}

function pollingTestTable() {
	
	
	elem =document.getElementById('testTablePollingButton')
	elem2 =document.getElementById('testTableRefreshButton')
	
	if ($(elem).hasClass('active')){
		console.log('disabling polling');
		$(elem2).removeClass("disabled")
		elem.innerHTML='<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Enable Auto Refresh'
		clearInterval(refreshIntervalId);
		
	}else{
		console.log('enabling polling');
		$(elem2).addClass("disabled")
		elem.innerHTML='<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Disable Auto Refresh'

		
		refreshIntervalId = setInterval( function () {
				testTable.api().ajax.reload();
				console.log('polling table reload...');
			}, 30000);
		
		
		
	}
	
}



function format ( myRow ) {
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>TEST ID:</td>'+
            '<td>'+myRow.testId+'</td>'+
            '<td rowspan="6">TOPOLOGY</td>'+
            '<td rowspan="6"><img class="img-responsive" width="300px" src="/static/images/topologies/'+myRow.tpgy+'.jpg"</img></td>'+
        '</tr>'+
        '<tr>'+
            '<td>Dependency:</td>'+
            '<td>'+myRow.dependency+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Metric:</td>'+
            '<td>'+myRow.metric+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Author:</td>'+
            '<td>'+myRow.author+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Description:</td>'+
            '<td>'+myRow.description+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Last Update:</td>'+
            '<td>'+myRow.lastUpdate+'</td>'+
        '</tr>'+
    '</table>';
}

$(document).ready(function() {
	document.getElementById('mainTitle').innerHTML='Current Build Results';	
	testTable = $('#testTable').dataTable( {
		dom:'<"row"<"col-sm-3"l><"col-sm-6"<"testTableNavigation">><"col-sm-3"f>>\
			<"row"<"col-sm-12"tr>>\
			<"row"<"col-sm-2"i><"col-sm-5"><"col-sm-5"p>>\
			<"row"<"col-sm-4"><"col-sm-4"B><"col-sm-4">>',
		buttons: [ { extend: 'copy', text: '<i class="fa fa-files-o fa-lg"></i>', titleAttr: 'Copy to Clipboard' },
		{extend: 'csv', text: '<i class="fa fa-file-text-o fa-lg"></i>', titleAttr: 'Save to CSV file'},
		{extend: 'excel', text: '<i class="fa fa-file-excel-o fa-lg"></i>', titleAttr: 'Save to Excel file'},
		{extend: 'pdf', text: '<i class="fa fa-file-pdf-o fa-lg"></i>', titleAttr: 'Save to PDF file'},
		{extend: 'print', text: '<i class="fa fa-print fa-lg"></i>', titleAttr: 'Print table'}, ],
		"bSort" : false,
		scrollY:'380px',
		scrollCollapse:true,  
		"ajax": {
		    "url": "/taws/updateJobStatus/",
		    "type": "POST",
		    async:false,
	  		"data" : {jobName : '{{ job_name }}',
	  			  	jobAction : "ajaxpoll",
	  			  	csrfmiddlewaretoken: '{{ csrf_token }}',
	  				}, // data sent with the post request
		  },
		  "columns": [
		              	{ "data": "ctrl","className":'details-control'},
		              	{ "data": "tps" },
		              	{ "data": "test","className":"dt-center dt-vert-align" },
		              	{ "data": "rev","className":"dt-center dt-vert-align" },
		      			{ "data": "duration", "className": "dt-center dt-vert-align"},
		      			{ "data": "tpgy","className": "dt-center dt-vert-align"},
		      			{ "data": "status","className": "dt-center dt-bold dt-vert-align"},
		      			{ "data": "testId","visible": false },
		      			{ "data": "dependency","visible": false },
		      			{ "data": "metric","visible": false },
		      			{ "data": "author","visible": false },
		      			{ "data": "description","visible": false }
		          ],    
		          "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
		        	  //$('td', nRow).closest('tr').css('background', aData.status === "Done" ? 'red' : 'blue');
		        	  switch(aData.status){
		             	case 'Done':
		                  //$(nRow).css('background-color', '#C2E4F5');
		                  $(nRow).css('color', '#0000D5');
		                  break;
		              	case 'Running':
		                  //$(nRow).css('background-color', '#FFFF80');
		                  $(nRow).css('color', '#008042')
		                  break;
		          		}
		        	  
		        	  return nRow;
		        	}
		} );
	

	
	
	
	  $("div.testTableNavigation").html('\
			    <nav class ="navbar navbar-xs navbar-default navbar-colored">\
						<div class="container-fluid">\
							<!-- Brand and toggle get grouped for better mobile display -->\
							<div class="navbar-header">\
								<button type="button" class="navbar-toggle navbar-toggle-xs collapsed" data-toggle="collapse" data-target="#LC-navbar-collapse" aria-expanded="false">\
									<span class="sr-only">Toggle navigation</span>\
									<span class="icon-bar"></span>\
									<span class="icon-bar"></span>\
									<span class="icon-bar"></span>\
								</button>\
								<a  class="navbar-brand"></a>\
							</div><!-- end navbar-header -->\
							<!-- Collect the nav links, forms, and other content for toggling -->\
							<div class="collapse navbar-collapse" id="LC-navbar-collapse">\
								<ul class="nav navbar-nav navbar-left">\
											<div class="btn-group btn-group-xs" role="group" aria-label="...">\
												<button id="testTableRefreshButton" type="button" class="btn btn-info navbar-btn-xs" data-toggle="tooltip" title="Refresh Table" onclick="refreshTestTable()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh Table</button>\
											</div>\
									</ul>\
									<ul class="nav navbar-nav navbar-right">\
									<div class="btn-group btn-group-xs" role="group" aria-label="...">\
										<button id="testTablePollingButton" type="button" class="btn btn-primary navbar-btn-xs" data-toggle="button" title="Refresh Table" onclick="pollingTestTable()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Enable Auto Refresh</button>\
									</div>\
							</ul>\
							</div><!-- end navbar-collapse -->\
						</div><!-- end container-fluid -->\
					</nav><!-- end navbar -->\
				');
	
	
	
	
	
	
	
	
	
	
	//$("div.selections").html('<ul class="list-group"><li class="list-group-item">Selection counters</li></ul>');
	//$("div.totTests").html('<ul class="list-group"><li class="list-group-item"><span id="badge-sel-test" class="badge">0</span>Total tests</li></ul>');
	//$("div.totTPS").html('<ul class="list-group"><li class="list-group-item"><span id="badge-sel-tps" class="badge">0</span>Total TPS</li></ul>');
	//$("div.totTime").html('<ul class="list-group"><li class="list-group-item"><span id="badge-sel-time" class="badge">00:00:00</span>Total Time</li></ul>');
	//$("div.totMetric").html('<ul class="list-group"><li class="list-group-item"><span id="badge-sel-metric" class="badge">0</span>Total Metric</li></ul>');

	
	

	$('#testTable tbody').on('click', 'td.details-control', function () {
		var tr = $(this).closest('tr');
		var row = testTable.api().row( tr );
	 
		if ( row.child.isShown() ) {
		    // This row is already open - close it
		    row.child.hide();
		    tr.removeClass('shown');
		}
		else {
		    // Open this row
		    row.child( format(row.data()) ).show();
		    tr.addClass('shown');
		}
	    } );

	$('#testTable tbody').on('dblclick', 'tr', function () {
		var tr = $(this).closest('tr');
		var row = testTable.row( tr );
		$('#viewTestModal').modal('toggle');
		selectTest.idTestRev.value=row.data().testId;
		doAccess('viewTestCase');
		//selectTest.action="/taws/viewTestCase/";
		//selectTest.target="_blank";
		//selectTest.submit();
	    } );
	    
	
	    
	$('[data-toggle="popover"]').popover({'trigger':'hover','placement':'right','animation':true,'template':'<div class="popover" style="width:300px;" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'}); 
	$('[data-toggle="popover-left"]').popover({'trigger':'hover','placement':'left','animation':true,'template':'<div class="popover" style="width:300px;" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'}); 
	$('[data-toggle="popover-top"]').popover({'trigger':'hover','placement':'top','animation':true,'template':'<div class="popover" style="width:300px;" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'}); 
} );


/*
(function polljob(){
	   setTimeout(function(){
	      $.ajax({ 
	  		url: "/taws/updateJobStatus/",
	    	type : "POST", // http method
	  		data : {jobName : '{{ job_name }}',
	  			  	jobAction : "ajaxpoll",
	  			  	csrfmiddlewaretoken: '{{ csrf_token }}',
	  				}, // data sent with the post request
	    	success: function(data){
	    	  	// handle a successful response
	          	console.log('Success on poll function')
	          	console.log(data)

	        	//Setup the next poll recursively
	        	polljob();
	      	},
	     
			error : function(xhr,errmsg,err) {
				// handle a non-successful response
				console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
			},
	      	dataType: "json"
	      });
	  }, 10000); //polling period set to 10 sec
})();

*/





</script>




<form name="selectTest" action="/taws/modify_job/?jobName={{ job_name }}" method="post" >{% csrf_token %}
	<input type="hidden" value="" name="savingStr" id="savingStr">
</form>


<div id="alert_placeholder" style="position:fixed;bottom:1px;z-index:100;width:100%;left:0px;display:none;"></div>
{{ debug }}

<div id="testContainer" style="width:94%;position:fixed;left:3%;height:550px;margin-top:30px;background-color:white;z-index:10;">

<div>
	<ol class="breadcrumb">
		<li><a href="/taws/runJenkins/">Jobs</a></li>
		<li class="active">{{ job_name }}</li>
	</ol>
</div>


	<table class="display table table-striped table-hover table-condensed" cellspacing="0" id="testTable" style="width:100%">
        <thead>
            <tr> 
                <th></th>
                <th>TPS</th>
                <th>Test</th>
                <th>Rev</th>
                <th>Duration</th>
                <th>Topology</th>
                <th>Status</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>TPS</th>
                <th>Test</th>
                <th>Rev</th>
                <th>Duration</th>
                <th>Topology</th>
                <th>Status</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </tfoot>
    </table>
	
	
	
	
</div>

<!-- Modal for New test Creation -->
<div id="viewTestModal" class="modal fade" role="dialog">
	<!--<form name="selectTest" action="/taws/viewTestCase/?action=update" method="post" >{% csrf_token %}
	<input type="hidden" id="modalInput" name="idTestRev">-->
	<div class="modal-dialog" style="width:830px;height:680px;">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" id="modalTitle"></a>
						</div><!-- end navbar-header -->
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-btn navbar-right">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</ul>
							<ul class="nav navbar-btn navbar-right">
								<div class="btn-group btn-group-sm" role="group" id="modalButton">
								</div><!-- end btn_group-->
								<div class="btn-group btn-group-sm" role="group">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
							</ul>
						</div><!-- end navbar-collapse -->
					</div><!-- end container-fluid -->
				</nav><!-- end navbar -->
				<textarea class="form-control" name="testBody" style="width:800px;height:600px;" id="comment"></textarea>
			</div>
		</div>
	<!--</form>-->
</div><!-- end modal -->

{% endblock %}

