<script>
	
	function setUser(myflag){
		
				$.ajax({
			url : "/gitapp/setGitFlag/", // the endpoint
			type : "POST", // http method
			data :{
							currentUser : '{{ login }}',
							csrfmiddlewaretoken: '{{ csrf_token }}',
							flag : myflag,
							}, // data sent with the post request
			// handle a successful response
			success : function(json) {
					console.log(json);
					console.log("set user git flag Ajax success to value: "+myflag); // another sanity check
			},
			// handle a non-successful response
			error : function(xhr,errmsg,err) {
				alert('Oops! We have encountered an error: '+xhr.status)
				console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
			}
		});
		
	}
	
	
	
	$(document).ready(function() {
		
		$.ajax({
			url : "/gitapp/getgittag/", // the endpoint
			type : "POST", // http method
			data :{
							currentUser : '{{ login }}',
							csrfmiddlewaretoken: '{{ csrf_token }}',
							}, // data sent with the post request
			// handle a successful response
			success : function(json) {
					console.log(json);
					console.log("get git flag Ajax success"); // another sanity check
					linkmsg = '<a href="/gitapp/gitTagShow/">check here</a>';
					if(json.status == "True"){
						alerttype="alert-info"
						custommsg="successfully"
					}else{
						alerttype="alert-danger"
						console.log('alert-danger')
						custommsg="unsuccessfully"
					}
					if (json.showgit) {
						message = "TAG "+json.tag+ " has been "+custommsg+" submitted to K@TE Database from GIT Administrator <br><br> Please "+linkmsg+" for details about test contents";
						
						showgittag(message,alerttype);
						
					}
			},
			// handle a non-successful response
			error : function(xhr,errmsg,err) {
				alert('Oops! We have encountered an error: '+xhr.status)
				console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
			}
		});	
		
	});
		
	$(document).on('click', '#gitalertbtn', function () {
		console.log("Acknowledgment on git info "+$(this).text());
		setUser(0);
	});	

	</script>
	
	<div id="alert_gittag_placeholder" style="position:fixed;top:55px;z-index:100;width:100%;left:0px;display:none;"></div>