<!DOCTYPE html>

{% load static %}

<html>

    <head>
	{% include "taws/header.txt" %}
    </head>

    <body>
	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<ul class="nav navbar-nav">
				<li>
					<a href="#"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"> <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="http://151.98.52.73:4554">GitLab</a></li>
						<li><a href="http://151.98.52.72:7001">Jenkins</a></li>
						<li><a href="https://sts.app.alcatel-lucent.com/secure/Dashboard.jspa">JIRA</a></li>
					</ul>
				</li>
			</ul>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">KATE Project</a>
		</div>
		<div id="smoothmenu1" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/taws/">Automation WebSite <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a href="http://www.dynamicdrive.com">Registration <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="request_account.asp">New Sphynx Account</a></li>
								<li><a href="/taws/add_bench/">New Bench</a></li>
							</ul>
						</li>
						<li><a href="#">Resource Overview <span class="caret"></span></a>
			  				<ul class="dropdown-menu">
			  					<li><a href="list_account.asp">Account List</a></li>
				  				<!--<li><a href="atm.asp">ATManager List</a></li>-->
			 					<li><a href="/taws/bench/">Bench List</a></li>
				  				<li><a href="topology.asp">Toplology Usage</a></li>
			  	  				<li><a href="#" onclick="javascript:window.open('development/frames/topologyViewer.asp','name','height=600,width=1000,resizable=1,scrollbars=1');">Topology Viewer</a></li>
				  				<li><a href="#" onclick="javascript:window.open('development/frames/sharedPresetCreator.asp','name','height=770,width=1024,resizable=1,scrollbars=1');">Presets Manager</a></li>
			  				</ul>
						</li>
						<li><a href="#">Statistics <span class="caret"></span></a>
			  				<ul class="dropdown-menu">
								<!--<li><a href="released.asp">Test Development</a></li>
								<li><a href="statistics_sw_executed.asp">Sw Executed</a></li>
								<li><a href="viewReport.asp">Execution Summary</a></li>
								<li><a href="statistics_tps_executed.asp">Tps History Execution</a></li>-->
								<li><a href="/taws/statistics_sw_executed/">Sw Executed</a></li>
								<li><a href="/taws/topology/">Topology Usage</a></li>
								<li><a href="tps_coverage.asp">TPS Coverage</a></li>
								<li><a href="user_skill.asp">Automation Skill</a></li>
								<li><a href="tasks.asp">Tasks</a></li>
								<li><a href="task_evolution.asp">Feature Reporting</a></li>
			  				</ul>
						</li>
						<li><a href="conformanceMatrix.asp">Conformances</a>
			  				<ul>
			  				</ul>
						</li>
						<li><a href="download.asp">Downloads</a></li>
						<li><a href="#">Administration <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="admin.asp">Test Management</a></li>
								<li><a href="avviso.asp">Newsletter</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a href="#">Development <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/taws/development_index/">Jenkins <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/taws/suite_creator/">Job Creator</a></li>
								<li><a href="/taws/test_development/">Test Development</a></li>
								<li><a href="/taws/runJenkins/">Job Management</a></li>
								<li><a href="#" onclick="top.principale.location.href='theDoctor.asp';top.accesso.location.href='accesso.asp';">The Doctor</a></li>
							</ul>
						</li>
						<!--<li><a href="#">PYTHON</a></li>-->
						<!--<li><a href="#">Reports</a>
							<ul>
								<li><a href="#" onclick="top.principale.location.href='reportOverview.asp';top.topPage.connection.location.href='accesso.asp';">Reports Overview</a></li>
								<li><a href="#" onclick="top.principale.location.href='viewReport.asp';top.topPage.connection.location.href='accesso.asp';">Old Reports Page</a></li>
							</ul>
						</li>-->
						<li><a href="#" onclick="top.principale.location.href='JTCRelease.asp';top.topPage.connection.location.href='accesso.asp';">TC Release</a></li>
						<li><a href="#">Topologies & Presets <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#" onclick="javascript:window.open('topologyViewer.asp','name','height=600,width=1000,resizable=1,scrollbars=1');">Topology Viewer</a></li>
								<li><a href="#" onclick="javascript:window.open('sharedPresetCreator.asp','name','height=770,width=1024,resizable=1,scrollbars=1');">Presets Manager</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a  id="cartTitle" href="#" onclick="changePerspective()"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>View Cart <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="list-group-item" style="border:unset;padding:3px 25px;width:200px;"><span id="badge-cart-test" class="badge">0</span>Total Test &nbsp;</li>
						<li class="list-group-item" style="border:unset;padding:3px 25px;width:200px;"><span id="badge-cart-tps" class="badge">0</span>Total TPS &nbsp;</li>
						<li class="list-group-item" style="border:unset;padding:3px 25px;width:200px;"><span id="badge-cart-time" class="badge">00:00:00</span>Total Time &nbsp;</li>
						<li class="list-group-item" style="border:unset;padding:3px 25px;width:200px;"><span id="badge-cart-metric" class="badge">0</span>Total Metric &nbsp;</li>
					</ul>
				</li>
				<li><a class="navbar-brand" href="#" id="mainTitle"></a></li>
				{% if login %}
					<li><a href="#">Welcome <strong>{{ login }}</strong> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/taws/logout/">Logout</a></li>
							<li><a href="http://sm-optics.com/">sm-optics.com</a></li>
							<li><a href="#">Help &amp; Contacts</a></li>
						</ul>
					</li>
				{% else %}
					<li><A href="/taws/login/" target="_top">Login</A></li>
				{% endif %}
			</ul>
		</div>
	
	<div id="title" style="position:absolute;right:0%;margin-right:-180px;background-color:#414141;z-index:11;">
		<h2 style="color:white;font-size: 19px;text-align:right;margin:0px 0px 0px 0px;"><span id="mainTitle" class="label label-primary"></span></h2>
	</div>
	{% block body %}{% endblock %}
	<!--<script type='text/javascript' src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>-->
	<script type='text/javascript' src="{% static 'js/accesso.js' %}"></script>

	</body>
</html>
