{% extends "taws/mainCompact_template.html" %}
{% block body %}
{% load static %}
{% load kate_group %}
<link rel="stylesheet" type="text/css" href="{% static "css/ios-switch.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datetimepicker.css" %}" />
<script type="text/javascript" src="{% static "js/moment-with-locales.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.js" %}"></script>

<script>
var benchTable;
var login = '{{ login }}';
var login = '{{ login }}';
var isSuperUser= '{{ request.user.is_superuser}}';
var isPowerAdmin= '{{ request.user|has_group:"POWER_ADMINS" }}';

function HideShow(fadeIn,fadeOut){
	$('#'+fadeOut).modal('toggle');
	$('#'+fadeIn).modal('toggle');
}

function Events_Validate(){
    if($('#txtNewStartDate').val().length==0){
      alert("Please fill up the Start Data field");
      return;
    }  
    if($('#txtNewStopDate').val().length==0){
       alert("Please fill up the Stop Data field");
       return;
     }  
    if($('#txtInterval').val().length==0){
        alert("Please fill up the Interval field");
        return;
      }  
     if(confirm('Are you sure?')){createScheduledTasks();}
  }


function changeOwner(idPowerMngmt){
	$.ajax({
		type: "POST",
		url: '/taws/changeRackOwner/',
		data: {
			csrfmiddlewaretoken:'{{ csrf_token }}',
			idPowerMngmt: idPowerMngmt,
			newOwner: document.getElementById('rackOwner').value
			},
		success: window.location.reload(),
		error: function(xhr, textStatus, errorThrown) {
				console.log(xhr.status+':'+xhr.responseText);
				alert("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
			}
	});	
	
}

function shutDown(myIP){
	alert('Un giorno spegnero\' '+myIP.replace('PB_',''));
}

function ping(myIP){
	document.getElementById(myIP).className='btn btn-warning btn-xs';
	document.getElementById(myIP).innerHTML='<i class="glyphicon glyphicon-repeat gly-spin"></i>';
	document.getElementById(myIP).style.width='37px';
	$.ajax({
		type: "POST",
		url: '/taws/pingIP/',
		data: {
			csrfmiddlewaretoken:'{{ csrf_token }}',
			myIP: myIP,
			},
		success: pingIPExit,
		error: function(xhr, textStatus, errorThrown) {
				console.log(xhr.status+':'+xhr.responseText);
				alert("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
			}
	});	
	
}

var pingIPExit = function(sersverResponse_data, textStatus_ignored,jqXHR_ignored)  {
	document.getElementById(sersverResponse_data['myIP']).innerHTML='Ping';
	if(sersverResponse_data['pingStatus']=='OK'){
		document.getElementById(sersverResponse_data['myIP']).className='btn btn-success btn-xs';
		document.getElementById('PB_'+sersverResponse_data['myIP']).disabled=false;
		document.getElementById('PB_'+sersverResponse_data['myIP']).className='btn btn-danger btn-xs';
	}else{
		document.getElementById(sersverResponse_data['myIP']).className='btn btn-danger btn-xs';
		document.getElementById('PB_'+sersverResponse_data['myIP']).disabled=true;
		document.getElementById('PB_'+sersverResponse_data['myIP']).className='btn btn-default btn-xs';
	}
};

function getRackLog(myObj){
	idPowerMngmt=myObj.parentElement.id;
	document.getElementById('modalLogHeader').innerHTML='Log for '+myObj.closest('tr').cells[0].innerText;
	document.getElementById('modalLogHeader').innerHTML+=' '+myObj.closest('tr').cells[1].innerText;
	document.getElementById('modalLogHeader').innerHTML+=' Row '+myObj.closest('tr').cells[2].innerText;
	document.getElementById('modalLogHeader').innerHTML+=' Rack '+myObj.closest('tr').cells[3].innerText;
	$.ajax({
		type: "POST",
		url: '/taws/getRackLog/',
		data: {
			csrfmiddlewaretoken:'{{ csrf_token }}',
			idPowerMngmt: idPowerMngmt
			},
		success: getRackLogExit,
		error: function(xhr, textStatus, errorThrown) {
				console.log(xhr.status+':'+xhr.responseText);
				alert("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
			}
	});	
}

var getRackLogExit = function(sersverResponse_data, textStatus_ignored,jqXHR_ignored)  {
	$('#actionModal').modal('toggle');
	$('#logModal').modal('toggle');
	document.getElementById('modalLog').innerHTML=sersverResponse_data['log'];
	//document.getElementById('rackOwner').value=sersverResponse_data['owner'];
};

function getRackDetails(myObj){
	idPowerMngmt=myObj.parentElement.id;
	document.getElementById('createScheduleId').value=idPowerMngmt;
	$.ajax({
		type: "POST",
		url: '/taws/getRackDetails/',
		data: {
			csrfmiddlewaretoken:'{{ csrf_token }}',
			idPowerMngmt: idPowerMngmt
			},
		success: getRackDetailsExit,
		error: function(xhr, textStatus, errorThrown) {
				console.log(xhr.status+':'+xhr.responseText);
				alert("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
			}
	});	
}

var getRackDetailsExit = function(sersverResponse_data, textStatus_ignored,jqXHR_ignored)  {
	$('#actionModal').modal('toggle');
	$('#editModal').modal('toggle');
	benchTable='';
	benches=sersverResponse_data['bench'];
	for(myIndex in benches){
		benchTable+='<tr style="vertical-align:bottom;">';
		benchTable+='<td valign="center">'+benches[myIndex]['bench']+'</td>';
		benchTable+='<td valign="center">'+benches[myIndex]['owner']+'</td>';
		benchTable+='<td valign="center">'+benches[myIndex]['type']+'</td>';
		benchTable+='<td><div class="btn-group navbar-btn">';
		benchTable+='<button type="button" id="'+benches[myIndex]['IP']+'" title="Ping NE" onclick="ping(this.id);" class="btn btn-primary btn-xs">Ping</button>';
		benchTable+='<button type="button" id="PB_'+benches[myIndex]['IP']+'" title="Shut Down NE" onclick="shutDown(this.id)" disabled class="btn btn-default btn-xs">';
		benchTable+='<span class="glyphicon glyphicon-off" aria-hidden="true"></span></button>';
		benchTable+='</div></td>';
		//benchTable+='<td><img src="{% static "images/'+benches[myIndex]['type']+'.jpg" %} /></td>';
		benchTable+='<td style="border-bottom: 4px solid grey;border-left: 6px solid grey;border-right: 6px solid grey;padding: 0px;background-color: grey;"><img src="/static/images/DUT/'+benches[myIndex]['type']+'.png" /></td>';
	}
	document.getElementById('benchTable').innerHTML=benchTable;
	document.getElementById('modalHeader').innerHTML='Rack '+sersverResponse_data['rackName']+' Details	Rack - Owner : <select name="rackOwner" id="rackOwner">'+sersverResponse_data['users']+'</select><button type="button" id="'+sersverResponse_data['idPowerMngmt']+'" onclick="changeOwner(this.id);" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>';
	//document.getElementById('modalName').value=sersverResponse_data['name'];
	//document.getElementById('modalPin').value=sersverResponse_data['pin'];
	//document.getElementById('modalIP').value=sersverResponse_data['ip'];
	//document.getElementById('rackOwner').value=sersverResponse_data['owner'];
};


function createScheduledTasks(){
	/*alert(document.getElementById('createScheduleId').value);
	alert(document.getElementById('txtNewStartDate').value);
	alert(document.getElementById('txtNewStartHour').value);
	alert(document.getElementById('txtNewStopDate').value);
	alert(document.getElementById('txtNewStopHour').value);
	alert(document.getElementById('txtInterval').value);*/
	$.ajax({
		type: "POST",
		url: '/taws/createScheduledTasks/',
		data: {
			csrfmiddlewaretoken:'{{ csrf_token }}',
			idPowerMngmt: document.getElementById('createScheduleId').value,
			txtNewStartDate: document.getElementById('txtNewStartDate').value,
			//txtNewStartHour: document.getElementById('txtNewStartHour').value,
			txtNewStopDate: document.getElementById('txtNewStopDate').value,
			//txtNewStopHour: document.getElementById('txtNewStopHour').value,
			txtInterval: document.getElementById('txtInterval').value
			},
		success: createScheduledTasksExit,
		error: function(xhr, textStatus, errorThrown) {
				console.log(xhr.status+':'+xhr.responseText);
				alert("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
			}
	});	
}

var createScheduledTasksExit = function(sersverResponse_data, textStatus_ignored,jqXHR_ignored)  {
	//prompt('',sersverResponse_data['templatePreset'].replace('%0A','%0D%0A'));
	$('#createScheduleModal').modal('toggle');
	$('#scheduleModal').modal('toggle');
	console.log('success');
	scheduleList=sersverResponse_data['scheduled'];
	idPowerMngmt=sersverResponse_data['idPowerMngmt'];
	scheduleTable='';
	for(myIndex in scheduleList){
		scheduleTable+='<tr><td>'+scheduleList[myIndex]['start_time']+'</td><td>'+scheduleList[myIndex]['stop_time']+'</td><td>'+scheduleList[myIndex]['interval']+' days</td><td>';
		scheduleTable+='<button type="button" id="" onclick="deleteScheduledTasks('+scheduleList[myIndex]['id_powerSchedule']+','+idPowerMngmt+')" class="btn btn-primary">';
		scheduleTable+='<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>';
	}
	document.getElementById('scheduleBody').innerHTML=scheduleTable;
	//alert(String(sersverResponse_data['scheduled']));
	//window.location.reload();
};

function getScheduledTasks(myObj){
	idPowerMngmt=myObj.parentElement.id;
	document.getElementById('scheduleHeader').innerHTML=myObj.closest('tr').cells[0].innerText;
	document.getElementById('scheduleHeader').innerHTML+=' '+myObj.closest('tr').cells[1].innerText;
	document.getElementById('scheduleHeader').innerHTML+=' Row '+myObj.closest('tr').cells[2].innerText;
	document.getElementById('scheduleHeader').innerHTML+=' Rack '+myObj.closest('tr').cells[3].innerText;
	document.getElementById('createScheduleId').value=idPowerMngmt;
	$.ajax({
		type: "POST",
		url: '/taws/getScheduledTasks/',
		data: {
			csrfmiddlewaretoken:'{{ csrf_token }}',
			idPowerMngmt: idPowerMngmt
			},
		success: getScheduledTasksExit,
		error: function(xhr, textStatus, errorThrown) {
				console.log(xhr.status+':'+xhr.responseText);
				alert("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
			}
	});	
}

var getScheduledTasksExit = function(sersverResponse_data, textStatus_ignored,jqXHR_ignored)  {
	//prompt('',sersverResponse_data['templatePreset'].replace('%0A','%0D%0A'));
	$('#actionModal').modal('toggle');
	$('#scheduleModal').modal('toggle');
	console.log('success');
	scheduleList=sersverResponse_data['scheduled'];
	idPowerMngmt=sersverResponse_data['idPowerMngmt'];
	scheduleTable='';
	for(myIndex in scheduleList){
		scheduleTable+='<tr><td>'+scheduleList[myIndex]['start_time']+'</td><td>'+scheduleList[myIndex]['stop_time']+'</td><td>'+scheduleList[myIndex]['interval']+' days</td><td>';
		scheduleTable+='<button type="button" id="" onclick="deleteScheduledTasks('+scheduleList[myIndex]['id_powerSchedule']+','+idPowerMngmt+')" class="btn btn-primary">';
		scheduleTable+='<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>';
	}
	document.getElementById('scheduleBody').innerHTML=scheduleTable;
	//alert(String(sersverResponse_data['scheduled']));
	//window.location.reload();
};



function getSelectedLines(){
	rowNum=benchTable.rows('.info').data().length;
	rackList=[];
	for(i=0;i<rowNum;i++){
		rackList.push(benchTable.rows(benchTable.rows('.info')[0][i]).data()[0].id);
	}
	return rackList.join('#');
}

function setRackStatus(rackStatus,newStatus){
	rackList=getSelectedLines();
	//if(rackList.length()!=0){
		$.ajax({
			type: "POST",
			url: '/taws/setRackStatus/',
			data: {
				csrfmiddlewaretoken:'{{ csrf_token }}',
				rackStatus: rackStatus,
				newStatus: newStatus,
				rackList: rackList,
				modifier: login
				},
			success: setRackStatusExit,
			error: function(xhr, textStatus, errorThrown) {
					console.log(xhr.status+':'+xhr.responseText);
					alert("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
				}
		});
	//}
}

var setRackStatusExit = function(sersverResponse_data, textStatus_ignored,jqXHR_ignored)  {
	//prompt('',sersverResponse_data['templatePreset'].replace('%0A','%0D%0A'));
	console.log('success');
	//alert(sersverResponse_data['switchReport']);
	window.location.reload();
};

$(document).ready(function() {

	document.getElementById('mainTitle').innerHTML='<span class="glyphicon glyphicon-th" title="GRID VIEW" aria-hidden="true" onclick="window.location.href=\'/taws/powerManagement/\'"></span> Power Management';
	

	benchTable = $('#suiteTable').DataTable({
		dom:'<"row"<"col-sm-3"><"col-sm-6"><"col-sm-3"f>>\
		<"row"<"col-sm-12"tr>>\
		<"row"<"col-sm-5"i><"col-sm-7"p>>\
		<"row"<"col-sm-4"<>><"col-sm-4"B><"col-sm-4">>',
		buttons: [ { extend: 'copy', text: '<i class="fa fa-files-o fa-lg"></i>', titleAttr: 'Copy to Clipboard' },
		{extend: 'csv', text: '<i class="fa fa-file-text-o fa-lg"></i>', titleAttr: 'Save to CSV file'},
		{extend: 'excel', text: '<i class="fa fa-file-excel-o fa-lg"></i>', titleAttr: 'Save to Excel file'},
		{extend: 'pdf', text: '<i class="fa fa-file-pdf-o fa-lg"></i>', titleAttr: 'Save to PDF file'},
		{extend: 'print', text: '<i class="fa fa-print fa-lg"></i>', titleAttr: 'Print table'}, ],
		scrollY:'480px',
		bPaginate:false,
		scrollCollapse:true,"columns": [
		{
			"data":           "id",
			"visible": false
		},
		{
			"data": "bench", 
			"className": "dt-center" 
		},
		{
			"data": "status", 
			"className": "dt-center" 
		},
		{
			"data": "startingDate", 
			"className": "dt-center"
		},
		{
			"data": "tester", 
			"className": "dt-center"
		},
		{
			"data": "SWP",
			 "className": "dt-center"
		},
		{
			"data": "job",
			"className": "dt-center"
		 },
		{
			"data": "build",
			"className": "dt-center"
		 },
		{
			"data": "location",
			"className": "dt-center"
		 }]
	});
	 
	
	new $.fn.dataTable.Buttons( benchTable, {'buttons': [
							{text:'Select:'},
							{
								text:'ALL',
								titleAttr: 'Select All filtered Entries',
								action:function(){$('#suiteTable').find('tr').addClass('info');}
							},
							{
								text:'NONE',
								titleAttr: 'Deselect All Entries',
								action:function(){$('#suiteTable').find('tr.info').removeClass('info');}
							},
							
						]} );
						
	new $.fn.dataTable.Buttons( benchTable, {'buttons': [
							{text:'Modify:'},
							{
								text:'ON',
								titleAttr: 'Power ON Selected Nodes',
								action:function(){setRackStatus('power_status','OFF');}
							},
							{
								text:'OFF',
								titleAttr: 'Shut DOWN Selected Nodes',
								action:function(){setRackStatus('power_status','ON');}
							},
							{
								text:'AUTO',
								titleAttr: 'Set AUTO status on Selected Nodes',
								action:function(){setRackStatus('manual_status','1');}
							},
							{
								text:'MANUAL',
								titleAttr: 'Set MANUAL status on Selected Nodess',
								action:function(){setRackStatus('manual_status','0');}
							},
							
						]} );					
						
	benchTable.buttons(1,null).container().appendTo($('.col-sm-3:eq(0)',benchTable.table().container() ));
	benchTable.buttons(2,null).container().appendTo($('.col-sm-6:eq(0)',benchTable.table().container() ));
	//benchTable.buttons().container().appendTo($('.col-sm-5:eq(0)',benchTable.table().container() ));
	benchTable.buttons(1,0).disable()
	benchTable.buttons(2,0).disable()


	
	$("div.tail").html('<div align="center">');
	/*
	 $('#suiteTable tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
		    $(this).removeClass('selected');
		}
		else {
		    benchTable.$('tr.selected').removeClass('selected');
		    $(this).addClass('selected');
		}
	    } );*/
	$('#suiteTable tbody').on('click','tr',function(e){
		//$('#suiteTable').find('tr.info').removeClass('info');
		$(this).toggleClass('info');
	})

	$('[data-toggle="popover"]').popover({'trigger':'hover','placement':'down','animation':true,'template':'<div class="popover" style="width:300px;" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'}); 

} );

//$.fn.dataTable.ext.buttons.alert = { className: 'buttons-alert', action: function ( e, dt, node, config ) { alert( this.text() ); } }; $(document).ready(function() { $('#example').DataTable( { dom: 'Bfrtip', buttons: [ { extend: 'alert', text: 'My button 1' }, { extend: 'alert', text: 'My button 2' }, { extend: 'alert', text: 'My button 3' } ] } ); } );


</script>

<form name="bench" method="post" action="/taws/bench/?action=delete">{% csrf_token %}
	<input type="hidden" name="deleteBench" value="" />
</form>


<div style="position:fixed; left:3%; margin-top:10px; width:94%; z-index:10;" id="suite" >
	<table class="table table-striped table-hover table-condensed" cellspacing="0" id="suiteTable" style="width:100%">
	<thead>       
			<tr>             
				<td></td>
				<th>Site</th>
				<th>Room</th>
				<th>Row</th>
				<th>Rack</th>
				<th>Owner</th>
				<th>ON/OFF</th>
				<th>Manual</th>
				<th>Actions</th>
			</tr>     
	</thead>     
	<tfoot>       
			<tr>             
				<td></td>
				<th>Site</th>
				<th>Room</th>
				<th>Row</th>
				<th>Rack</th>
				<th>Owner</th>
				<th>ON/OFF</th>
				<th>Manual</th>
				<th>Actions</th>
			</tr>     
	</tfoot>     
	<tbody>
			{% for myBench in benches %}
				{% if myBench.owner|upper == login|upper or request.user|has_group:"POWER_ADMINS" %}
					<tr>
						<td>{{ myBench.id_powerMngmt }}</td>
						<td>{{ myBench.site }}</td>
						<td>{{ myBench.room }}</td>
						<td>{{ myBench.row }}</td>
						<td>{{ myBench.rack }}</td>
						<td>{{ myBench.owner }}</td>
						<td>{% if myBench.power_status == 0 %}<span class="label label-success">ON</span>{% else %}<span class="label label-danger">OFF</span>{% endif %}</td>
						<td>{% if myBench.manual_status == 1 %}<span class="label label-primary">AUTO</span>{% else %}<span class="label label-info">MANUAL</span>{% endif %}</td>
						<td>
							<div class="btn-group btn-group-xs" data-toggle="tooltip" title="Change Power Status" role="group" id="{{ myBench.id_powerMngmt }}">
								<button type="button" class="btn btn-primary" onclick="getScheduledTasks(this);">
									Schedule Switch&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-primary" onclick="getRackDetails(this);">
									Rack Details&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn btn-primary" onclick="getRackLog(this);">
									History Log&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
								</button>
							</div>
					
						</td>
					</tr>
				{% endif %}
			{% endfor %}
	</tbody> 
	</table>

</div>
<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><div id='modalHeader' /></h4>
      </div>
      <div class="modal-body">
		<form name="rackEditor" action="" method="post" >{% csrf_token %}
			<input type="hidden" value="" name="lab" id="lab">
			<input type="hidden" value="" name="row" id="row">
		    <table class='table'>
		    	<thead><tr><th>Name</th><th>Owner</th><th>Type</th><th></th>Actions<th style='width: 130px;background-color: grey;border-top: 4px solid grey;border-bottom: 2px solid grey;border-left: 6px solid grey;border-right: 6px solid grey;padding: 0px;'><img src='{% static "images/DUT/TRU.png" %}' /></th></tr></thead>
		    	<tbody id='benchTable' style='vertical-align:center;'></tbody>
		    </table>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="logModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><div id='modalLogHeader' /></h4>
      </div>
      <div class="modal-body" style="height:200px;overflow-y:auto;">
			<table class="table">
				<tr><th>Timestamp</th><th>User</th><th>Event</th></tr>
				<tbody id="modalLog"></tbody>
		    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="scheduleModal" class="modal fade" role="dialog">
 	 <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        
		    
	        	<h4 class="modal-title"><div id='scheduleHeader'></div></h4>
	       
	      </div>
	      <div class="modal-body">
				<table class="table">
					<thead><tr><th>Next Shut Down Time</th><th>Next Power On Time</th><th>Recurring Interval</th><th></th></tr></thead>
					<tbody id="scheduleBody"></tbody>
					<!--<tfoot><tr><td colspan="4" align="right">
				        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createScheduleModal" onclick="HideShow('createScheduleModal','scheduleModal');">New Schedule</button>
				    </td></tr></tfoot>-->
			    </table>
	      </div>
	      <div class="modal-footer">
			<a href="javascript:HideShow('createScheduleModal','scheduleModal');" class="btn btn-primary input-sm" style="padding-top:4px;margin-top:6px">New Schedule</a>
	      </div>
	    </div>

	  </div>
</div>


<div id="createScheduleModal" class="modal fade" role="dialog">
 	 <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Create New Schedule</h4>
	      </div>
	      <div class="modal-body">
	      	<form action="">
	      		<input type="hidden" id="createScheduleId" value="" />
               <table>
               	<tbody>
		           <tr>
		                 <td>
		                 	<b>Power off at</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                 </td>
		                 <td>
		           		
					        <div class="form-group">
					            <div class='input-group date' id='datetimepickeroff'>
					                <input type='text' class="form-control" id="txtNewStartDate"/>
					                <span class="input-group-addon">
					                    <span class="glyphicon glyphicon-calendar"></span>
					                </span>
					            </div>
					        </div>
					    
					    </td>
		           </tr>
		           <tr>
		           		 <td>
		                 	<b>Power on at</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                 </td>
		                 <td>
		           		
					        <div class="form-group">
					            <div class='input-group date' id='datetimepickeron'>
					                <input type='text' class="form-control"  id="txtNewStopDate"/>
					                <span class="input-group-addon">
					                    <span class="glyphicon glyphicon-calendar"></span>
					                </span>
					            </div>
					        </div>
					    
					    </td>
		           </tr>
		           <tr>
		                 <td colspan="2" style="padding-top:10px;padding-bottom:10px">
		                   <label for="NewEvent_liters">Repeat Every &nbsp;&nbsp;&nbsp;</label>
		                   <input id="txtInterval" style="width:60px;display:inline-block" type="number" min="0" name="NewEvent_weeks" class="form-control input-sm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                   <label for="NewEvent_days">Days</label>
		                   <!--<input id="txtNewDays" style="width:60px;display:inline-block" type="number" name="NewEvent_days" class="form-control input-sm">-->
		                 </td>
	               </tr>
	            </tbody>
	          </table>
		  </form>
	      </div>
	      <script type="text/javascript">
			    $(function () {
			        $('#datetimepickeroff').datetimepicker({
			        	stepping:1,
			        	format: 'YYYY-MM-DD HH:mm:',
			        	sideBySide: true
			        });
			        $('#datetimepickeron').datetimepicker({
			            useCurrent: false, //Important! See issue #1075
			            stepping: 1,
			        	format: 'YYYY-MM-DD HH:mm',
			            sideBySide: true
			        });
			        $("#datetimepickeroff").on("dp.change", function (e) {
			            $('#datetimepickeron').data("DateTimePicker").minDate(e.date);
			        });
			        $("#datetimepickeron").on("dp.change", function (e) {
			            $('#datetimepickeroff').data("DateTimePicker").maxDate(e.date);
			        });
			    });
		  </script>
	      <div class="modal-footer">
               <a href="javascript:HideShow('scheduleModal','createScheduleModal');" class="btn btn-warning input-sm" style="padding-top:4px;margin-top:6px">
                     Back</a>
               &nbsp;&nbsp;&nbsp;
               <input type="button" onclick="return Events_Validate();" class="btn btn-primary input-sm" style="padding-top:4px;margin-top:6px" value="Create" />
	      </div>
	    </div>

	</div>

</div>
{% endblock %}

