{% load static %}
{% include "taws/header.txt" %}
<html>
<head>
	<script>
		function selectEquip(myID,myName,myVars){
			myObj=myVars.split('$');
			window.opener.$('.selected')[0].innerHTML=myName;
			//window.opener.document.getElementById(myVars).value=myName;
			myTopologyID='null';
			for(i=0;i<window.opener.topologies.length;i++){
				for(k=0;k<window.opener.topologies[i][1].length;k++){
					if(window.opener.topologies[i][4][k]==myObj[2]){
						window.opener.topologies[i][3][myObj[0]]=myName;
						window.opener.topologies[i][5][myObj[0]]=myID;
						myTopologyID=i;
						myEntity=window.opener.topologies[i][6][myObj[0]];
						break;
						//window.close();
					}
				}
				if(myTopologyID!='null'){break;}
			}
			if(myTopologyID!='null'){
				for(k=0;k<window.opener.topologies[myTopologyID][1].length;k++){
					if(window.opener.topologies[myTopologyID][6][k]==myEntity){
						window.opener.topologies[myTopologyID][5][k]=myID;
					}
				}
				window.close();
			}
		}

		$(document).ready(function() {

			benchTable = $('#benchTable').DataTable({
				scrollY:'380px',
				scrollCollapse:true,"columns": [
				{
					"data": "name",
					"className": "dt-center" 
				},
				{
					"data": "owwner", 
					"className": "dt-center" 
				},
				{
					"data": "description", 
					"className": "dt-center" 
				},
				{
					"data": "domain", 
					"className": "dt-center"
				},
				{
					"data": "location", 
					"className": "dt-center"
				},
				{
					"data": "net",
					 "className": "dt-center"
				}]
			});
		});

	</script>


</head>
<body>
	<table class="table table-striped table-hover table-condensed" cellspacing="0" id="benchTable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Owner</th>
				<th>Description</th>
				<th>Domain</th>
				<th>Location</th>
				<th>Net</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Name</th>
				<th>Owner</th>
				<th>Description</th>
				<th>Domain</th>
				<th>Location</th>
				<th>Net</th>
			</tr>
		</tfoot>
		<tbody>
			{% for myItem in eqptAry %}
				<tr onclick="selectEquip({{ myItem.eqptID }},'{{ myItem.eqptName }}','{{ myItem.myVars }}');">
					<td>{{ myItem.eqptName }}</td>
					<td>{{ myItem.owner }}</td>
					<td>{{ myItem.equipDescription }}</td>
					<td>{{ myItem.scopeDescription }}</td>
					<td>
						Site: {{ myItem.site }}<br>
						Room: {{ myItem.room }}<br>
						Row:  {{ myItem.row }}<br>
						Rack: {{ myItem.rack }}<br>
						Pos:  {{ myItem.pos }}<br>
					</td>
					<td>
						IP: {{ myItem.IP }}<br>
						NM: {{ myItem.NM }}<br>
						GW: {{ myItem.GW }}<br>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
