{% extends "taws/mainCompact_template.html" %}
{% block body %}
{% load static %}



<script>



	function View(show1){
		// change visualization for each tab
		if (show1 == "QLT") { v1 = true, v2 = false};
		if (show1 == "EXE") { v1 = false, v2 = true};
		{% for tab in tab_list %}
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(1,v1);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(2,v1);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(3,v1);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(4,v2);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(5,v2);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(6,v2);
			
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(8,v1);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(9,v1);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(10,v1);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(11,v2);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(12,v2);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(13,v2);
			
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(15,v1);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(16,v1);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(17,v1);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(18,v2);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(19,v2);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(20,v2);
		{% endfor %}
		
	}


	$(document).ready(function() {
		document.getElementById('mainTitle').innerHTML='SW Statistics';
		{% for tab in tab_list %}
			//datatable initialiaztion for each tab
			{{ tab.domain }}Table = $('#{{ tab.domain }}Table').DataTable({
				dom:'<"row"<"col-sm-2"l><"col-sm-7"><"col-sm-3"f>>\
						<"row"<"col-sm-12"tr>>\
						<"row"<"col-sm-2"i><"col-sm-5"><"col-sm-5"p>>\
						<"row"<"col-sm-4"><"col-sm-4"B><"col-sm-4">>',
				buttons: [ { extend: 'copy', text: '<i class="fa fa-files-o fa-lg"></i>', titleAttr: 'Copy to Clipboard' },
				{extend: 'csv', text: '<i class="fa fa-file-text-o fa-lg"></i>', titleAttr: 'Save to CSV file'},
				{extend: 'excel', text: '<i class="fa fa-file-excel-o fa-lg"></i>', titleAttr: 'Save to Excel file'},
				{extend: 'pdf', text: '<i class="fa fa-file-pdf-o fa-lg"></i>', titleAttr: 'Save to PDF file'},
				{extend: 'print', text: '<i class="fa fa-print fa-lg"></i>', titleAttr: 'Print table'}, ],
				"columnDefs":[{"width": "20%", "targets":[0]}],
				"fnInitComplete": function() {
					this.fnAdjustColumnSizing(true);
				}
			});//end DataTable	
		{% endfor %}
		
		//event raised when tab is activated
		$('.nav-tabs a').on('shown.bs.tab', function(event){
			// used to solve a bug displaying bad table header size
			{% for tab in tab_list %}
				$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(0,true);
			{% endfor %}
		});
		// initialize all tables with default view 
		View('EXE');
	});// end ready function
 

</script>

<div style="width:94%;position:fixed;left:3%;z-index:9;height:550px;margin-top:30px">

	<form name="filtro" method="post" action="/taws/statistics_sw_executed/">{% csrf_token %}
		<input type="hidden" name="id_pack1" value="{{id_pack1}}" />
		<input type="hidden" name="id_pack2" value="{{id_pack2}}" />
		<input type="hidden" name="id_pack3" value="{{id_pack3}}" />
		<input type="hidden" name="id_pack1_val" value="{{val_pack1}}" />
		<input type="hidden" name="id_pack2_val" value="{{val_pack2}}" />
		<input type="hidden" name="id_pack3_val" value="{{val_pack3}}" />
		
		
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary navbar-btn" onclick="View('QLT');">
								<input type="radio" id="q156" name="tipo" value="quality"  />
								<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> SWP Quality
							</label> 
							<label class="btn btn-primary navbar-btn active" onclick="View('EXE');">
								<input type="radio" id="q157" name="tipo" checked="checked" value="execution" />
								<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Test Execution
							</label> 
						</div><!-- end btn group-->
					</ul><!-- end navbar ul-->
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div class="btn-group btn-group-xs navbar-btn" data-toggle="tooltip" title="..." role="group">
									<button type="button" id='{{ build.testName }}' onclick="morgue" class="btn btn-default navbar-btn"><i class="fa fa-ambulance"></i></button>
							</div>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SW Package 3 <span class="caret"></span></a>
							<ul class="dropdown-menu" id="select3menu" >
								{{ swp_dropdown3 }}
							</ul>
						</li>
					</ul><!-- end navbar ul-->
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div class="btn-group btn-group-xs navbar-btn" data-toggle="tooltip" title="..." role="group">
									<button type="button" id='{{ build.testName }}' onclick="morgue" class="btn btn-default navbar-btn"><i class="fa fa-ambulance"></i></button>
							</div>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SW Package 2 <span class="caret"></span></a>
							<ul class="dropdown-menu" id="select2menu" >
								{{ swp_dropdown2 }}
							</ul>
						</li>
					</ul><!-- end navbar ul-->
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div class="btn-group btn-group-xs navbar-btn" data-toggle="tooltip" title="..." role="group">
									<button type="button" id='{{ build.testName }}' onclick="morgue" class="btn btn-default navbar-btn"><i class="fa fa-ambulance"></i></button>
							</div>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SW Package 1 <span class="caret"></span></a>
							<ul class="dropdown-menu" id="select1menu" >
								{{ swp_dropdown1 }}
							</ul>
						</li>
					</ul><!-- end navbar ul-->
				</div><!-- end collapse navbar-->
			</div><!-- end container -->
		</nav>
		<div class="row">
			<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
				<li class="active"><a href="#summary-tab" data-toggle="tab">Summary</a></li>
				{% for tab in tab_list %} 
					<li><a href="#{{ tab.domain }}-tab" data-toggle="tab">{{ tab.domain }}</a></li>
				{% endfor %}
				<li><a href="#xtest-tab" data-toggle="tab">xtest</a></li>
			</ul>
			<div id="my-tab-content" class="tab-content">
				<div class="tab-pane active" id="summary-tab">
						<h1>Summary</h1>
						<p>Please select SW Package to compare</p>
						<p>{{tab_list}}</p>
				</div>
				{% for tab in tab_list %} 
					<div style="width:100%; margin-top:20px;" class="tab-pane" id="{{ tab.domain }}-tab">
						
						<table class="table display table-striped table-hover table-condensed" cellspacing="0" id="{{ tab.domain }}Table" style="width:100%">
							<thead>
								
								
								<tr>
									<th></th>
									<th colspan="7" style="border-left:2px solid #DDD;"><h4><span class="label label-default">{{val_pack1}}</span></h4></th>
									<th colspan="7" style="border-left:2px solid #DDD;"><h4><span class="label label-default">{{val_pack2}}</span></h4></th>
									<th colspan="7" style="border-left:2px solid #DDD;"><h4><span class="label label-default">{{val_pack3}}</span></h4></th>
								</tr>
								<tr>
									<th><span class="label label-default">Domain</span></th>
									<th id="percQuality1"><span class="label label-info">%Q1</span></th>
									<th id="OKQuality1"><span class="label label-success">OKQ1</span></th>
									<th id="KOQuality1"><span class="label label-danger">KOQ1</span></th>
									<th id="percExe1"><span class="label label-info">%E1</span></th>
									<th id="OKExe1"><span class="label label-success">OKE1</span></th>
									<th id="KOExe1"><span class="label label-danger">KOE1</span></th>
									
									<th id="TRG1"><span class="label label-primary">TRG1</th>
								
									
					
									<th id="percQuality2"><span class="label label-info">%Q2</span></th>
									<th id="OKQuality2"><span class="label label-success">OKQ2</span></th>
									<th id="KOQuality2"><span class="label label-danger">KOQ2</span></th>
									<th id="percExe2"><span class="label label-info">%E2</span></th>
									<th id="OKExe2"><span class="label label-success">OKE2</span></th>
									<th id="KOExe2"><span class="label label-danger">KOE2</span></th>
									
									<th id="TRG2"><span class="label label-primary">TRG2</th>
								
									
									
									<th id="percQuality3"><span class="label label-info">%Q3</span></th>
									<th id="OKQuality3"><span class="label label-success">OKQ3</span></th>
									<th id="KOQuality3"><span class="label label-danger">KOQ3</span></th>
									<th id="percExe3"><span class="label label-info">%E3</span></th>
									<th id="OKExe3"><span class="label label-success">OKE3</span></th>
									<th id="KOExe3"><span class="label label-danger">KOE3</span></th>
									
									<th id="TRG3"><span class="label label-primary">TRG3</th>
								
									

									
								</tr>
							
							</thead>
							
							<tbody>
								{% for vals in tab.values %} 
								<tr>
									<td>{{ vals.area_name }}</td>
									<td>1</td>
									<td>2</td>
									<td>3</td>
									
									<td>11</td>
									<td>12</td>
									<td>13</td>
									
									<td>T1</td>
									
									

									<td>4</td>
									<td>5</td>
									<td>6</td>
									
									<td>44</td>
									<td>55</td>
									<td>66</td>
									
									
									<td>T2</td>
									
									
									<td>7</td>
									<td>8</td>
									<td>9</td>
									
									<td>77</td>
									<td>88</td>
									<td>99</td>
									
									<td>T3</td>
									
									
	

									
								</tr>
								
								{% endfor %}
							</tbody>
						</table>
			
					
					
					</div>
					
				{% endfor %}
				<div class="tab-pane" id="xtest-tab">
						{% for tab in tab_list %}
						{% for vals in tab.values %} 
						<p>{{vals}}</p>
						{% endfor %}
						{% endfor %}
						
				</div>
				
				
				
			</div>
		</div>
	</form>
</div>

{% endblock %}


<!--############################################################################
									OLD CODE
#################################################################################-->
<!--<form name="filtro" method="post" action="statistics_sw_executed.asp">
	<input type="hidden" name="swpid1" value="<%=pack1%>" />
	<input type="hidden" name="swpid2" value="<%=pack2%>" />
	<input type="hidden" name="swpid3" value="<%=pack3%>" />
	<input type="hidden" name="area" value="" />

	<table width="100%">
	<tr>
		<td align="left">
			<table width="100%" cellspacing="0" cellpadding="0">
				<tr style="height:20px; postion:left;" bgcolor="gray">
					<td valign="middle" align="center">
						<table>
							<tr>
								<td style="padding-left:10px;padding-right:5px;"><a href="#"><img src="images/xls.png" border="0" onclick="Export();"><a></td>
								<td style="padding-left:5px;padding-right:10px;"><a href="#"><img src="images/print.png" border="0" onclick="window.print()"></a></td>
								<td style="padding-left:5px;padding-right:10px;"></td>
							</tr>
						</table>
					</td>
					<td valign="bottom" align="center">
						<table width="100%">
							<tr>
								<td align="left" style="padding-left:10px;"></td>
							</tr>
						</table>
					</td>
					<td valign="bottom" align="left">
						<table>
							<tr>
								<td style="padding-left:10px; padding-right:10px;color:#fff;"><b><center>SWP QUALITY</center></b></td>
								<td><input type="radio" value="quality" name="tipo" onclick="View();" /></td>
								<td width="50px;">&nbsp;</td>
								<td style="padding-left:10px; padding-right:10px;color:#fff;"><b><center>TEST EXECUTION</center></b></td>
								<td><input type="radio" value="execution" name="tipo" onclick="View();" /></td>
							</tr>
						</table>
					</td>
					<td align="left" colspan="4">
						<table>
							<tr>
								<td align="center" style="padding-left:5px;padding-right:5px" rowspan=2>
									<a href="#"><img src="images/rip.gif" style="width:25px;height:25px;" onclick="document.filtro.target='_self';document.filtro.action='morgue.asp';document.filtro.submit();" border="0"></a>
								</td>
								<td align="center" width="100%">
									<font color="white"><b><span id='label1' align="center"></span>&nbsp;</b></font>
								</td>
							</tr>
							<tr>
								<td align="left">
									<input type="text" name="select1" id="select1" value=""/>
									<ul id="select1menu" class="mcdropdown_menu"></ul>
								</td>
							</tr>
						</table>
					</td>
					<td align="left" colspan="4">
						<table>
							<tr>
								<td align="center" style="padding-left:5px;padding-right:5px" rowspan=2>
									<a href="#"><img src="images/rip.gif" style="width:25px;height:25px;" onclick="document.filtro.target='_self';document.filtro.action='morgue.asp';document.filtro.submit();" border="0"></a>
								</td>
								<td align="center" width="100%">
									<font color="white"><b><span id='label2' align="center"></span>&nbsp;</b></font>
								</td>
							</tr>
							<tr>
								<td align="left">
									<input type="text" name="select2" id="select2" value=""/>
									<ul id="select2menu" class="mcdropdown_menu"></ul>
								</td>
							</tr>
						</table>
					</td>
					<td align="left" colspan="4">
						<table>
							<tr>
								<td align="center" style="padding-left:5px;padding-right:5px" rowspan=2>
									<a href="#"><img src="images/rip.gif" style="width:25px;height:25px;" onclick="document.filtro.target='_self';document.filtro.action='morgue.asp';document.filtro.submit();" border="0"></a>
								</td>
								<td align="center" width="100%">
									<font color="white"><b><span id='label3' align="center"></span>&nbsp;</b></font>
								</td>
							</tr>
							<tr>
								<td align="left">
									<input type="text" name="select3" id="select3" value=""/>
									<ul id="select3menu" class="mcdropdown_menu"></ul>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td width="100px" align="center" style="padding-left:10px;color:#fff;height:20px;" bgcolor=<%=viola%>><strong>AREA</strong></td>
					<td align="left" colspan="2" style="padding-left:10px;color:#fff;" bgcolor=<%=viola%>><strong>AREA NAME</strong></td>
					<td width="50px" align="center" style="color:#fff;" ><strong>%</strong></td>
					<td width="50px" align="center" style="color:#fff;" ><strong>OK</strong></td>
					<td width="50px" align="center" style="color:#fff;" ><strong>KO</strong></td>
					<td width="50px" align="center" style="color:#fff;" ><strong>TRG</strong></td>
					<td width="50px" align="center" style="color:#fff;" ><strong>%</strong></td>
					<td width="50px" align="center" style="color:#fff;" ><strong>OK</strong></td>
					<td width="50px" align="center" style="color:#fff;" ><strong>KO</strong></td>
					<td width="50px" align="center" style="color:#fff;" ><strong>TRG</strong></td>
					<td width="50px" align="center" style="color:#fff;" ><strong>%</strong></td>
					<td width="50px" align="center" style="color:#fff;" bgcolor=<%=verde%>><strong>OK</strong></td>
					<td width="50px" align="center" style="color:#fff;" bgcolor=<%=rosso%>><strong>KO</strong></td>
					<td width="50px" align="center" style="color:#fff;" bgcolor=<%=nero%>><strong>TRG</strong></td>
				</tr>
				<tr align="center">
					<td align="left" colspan="2"><font style="font-size:12px; padding-left:10px;"><strong>TOTAL </strong></font></td>
					<td></td>			
					<td style="font-size:11px;border-left:#999999 1px solid;"><strong></strong></td>
					<td style="font-size:11px;"><strong></strong></td>
					<td style="font-size:11px;"><strong></strong></td>
					<td style="font-size:11px;"><strong></strong></td>
					<td style="font-size:11px;border-left:#999999 1px solid;"><strong></strong></td>
					<td style="font-size:11px;"><strong></strong></td>
					<td style="font-size:11px;"><strong></strong></td>
					<td style="font-size:11px;"><strong></strong></td>
					<td style="font-size:11px;border-left:#999999 1px solid;"><strong></strong></td>
					<td style="font-size:11px;"><strong></strong></td>
					<td style="font-size:11px;"><strong></strong></td>
					<td style="font-size:11px;"><strong></strong></td>
				</tr>
				<tr>
					<td bgcolor="#ffffff" colspan="15">&nbsp;</td>
				</tr>
				<tr>
					<td color="#000000" align="center"><font style="font-size:12px;"><strong></strong></font></td>
					<td color="#000000" colspan="14">&nbsp;</td>
				</tr>
				<tr>
					<td valign="middle" style="border-right:#999999 solid 1px; border-left:#999999 solid 1px;" align="center"></td>
					<td valign="middle" colspan="2" align="left" style="padding-left:10px;"></td>
					<td valign="middle" align="center" style="border-left: 1px solid #999999;"></td>
					<td valign="middle" align="center"></td>
					<td valign="middle" align="center"></td>
					<td valign="middle" align="center"></td>
					<td valign="middle" align="center" style="border-left: 1px solid #999999;"></td>
					<td valign="middle" align="center"></td>
					<td valign="middle" align="center"></td>
					<td valign="middle" align="center"></td>
					<td valign="middle" align="center" style="border-left: 1px solid #999999;"></td>
					<td valign="middle" align="center"></td>
					<td valign="middle" align="center"></td>
					<td valign="middle" align="center" style="border-right: 1px solid #999999;"></td>
				</tr>
				<tr align="center">
					<td align="left"  colspan="2"><font style="font-size:12px; padding-left:10px;"><strong>TOTAL </strong></font></td>
					<td ></td>
					<td c style="font-size:11px;border-left:#999999 1px solid;"><strong></strong></td>
					<td style="font-size:12px;"><strong></strong></td>
					<td  style="font-size:12px;"><strong></strong></td>
					<td  style="font-size:12px;"><strong></strong></td>
					<td  style="font-size:11px;border-left:#999999 1px solid;"><strong></strong></td>
					<td  style="font-size:12px;"><strong></strong></td>
					<td  style="font-size:12px;"><strong></strong></td>
					<td  style="font-size:12px;"><strong></strong></td>
					<td  style="font-size:11px;border-left:#999999 1px solid;"><strong></strong></td>
					<td style="font-size:12px;"><strong></strong></td>
					<td  style="font-size:12px;"><strong></strong></td>
					<td  style="font-size:12px;"><strong></strong></td>
				</tr>
				<tr>
					<td colspan="15"  height='5px'></td>
				</tr>
				<tr align="center">
					<td align="left" colspan="2"><font style="font-size:12px; padding-left:10px;"><strong>TOTAL OVERALL</strong></font></td>
					<td ></td>
					<td style="font-size:11px;border-left:#999999 1px solid;"><strong></strong></td>
					<td id="OK1"  style="font-size:12px;"><strong></strong></td>
					<td id="KO1"  style="font-size:12px;"><strong></strong></td>
					<td id="TG1"  style="font-size:12px;"><strong></strong></td>
					<td  style="font-size:11px;border-left:#999999 1px solid;"><strong></strong></td>
					<td id="OK2" style="font-size:12px;"><strong></strong></td>
					<td id="KO2"  style="font-size:12px;"><strong></strong></td>
					<td id="TG2" style="font-size:12px;"><strong></strong></td>
					<td  style="font-size:11px;border-left:#999999 1px solid;"><strong></strong></td>
					<td id="OK3"  style="font-size:12px;"><strong></strong></td>
					<td id="KO3" style="font-size:12px;"><strong></strong></td>
					<td id="TG3"  style="font-size:12px;"><strong></strong></td>
				</tr>
				<tr>
					<td colspan="15" height='5px'></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</form>


