{% extends "taws/mainCompact_template.html" %}
{% block body %}
{% load static %}
{% load kate_extra %}


<!--<script type="text/javascript" src="{% static "js/colorjizz.js" %}"></script>-->
<script>



	$(function () {
		// changes the table cell background colour depending from threshold
		//var colors = new Hex(0xFF0000).range(new Hex(0x00FF00), 100, true);
		var thr = [95,98];
		var tdId = [2,3,7,8,12,13];
		{% for tab in tab_list %}
			tdId.forEach(function(entry) {
				$('#{{ tab.domain }}Table tr td:nth-child('+ entry +')').each(function() {
					
					switch (true) {
						case ( parseInt($(this).text()) > thr[1]):
							$(this).addClass('success');
							break;
						case ( parseInt($(this).text()) > thr[0]):
							$(this).addClass('warning');
							break;
						default:
							$(this).addClass('danger');
					}
				});
				$('#{{ tab.domain }}Table tfoot th:nth-child('+ entry +')').each(function() {
					
					switch (true) {
						case ( parseInt($(this).text()) > thr[1]):
							$(this).addClass('success');
							break;
						case ( parseInt($(this).text()) > thr[0]):
							$(this).addClass('warning');
							break;
						default:
							$(this).addClass('danger');
					}
				});
			});
		{% endfor %}
	});


	function View(show1){
		// changes visualization for each tab
		if (show1 == "QLT") { v1 = true; v2 = false; v3= "SWP Quality";};
		if (show1 == "EXE") { v1 = false; v2 = true; v3= "Test execution";};
		
		{% for tab in tab_list %} 
			document.getElementById('{{ tab.domain }}-view').innerHTML=v3;
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(1,v1);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(6,v1);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(11,v1);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(2,v2);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(7,v2);
			$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(12,v2);
		{% endfor %}
		
	}

	
	function UpdateTfoots(){
	
	{% for tab in tab_list %} 
		percq1=0;percq2=0;percq3=0;
		perce1=0;perce2=0;perce3=0;
		ok1=0;ok2=0;ok3=0;
		ko1=0;ko2=0;ko3=0;
		trg1=0;trg2=0;trg3=0;
		count=0;
	
		{% for vals in tab.values %}
		
			count += 1;
		
			percq1 += {{vals.OK1|divide:vals.TOT1}}
			percq2 += {{vals.OK2|divide:vals.TOT2}}
			percq3 += {{vals.OK3|divide:vals.TOT3}}
			perce1 += {{vals.TOT1|divide:vals.numTPS1}}
			perce2 += {{vals.TOT2|divide:vals.numTPS2}}
			perce3 += {{vals.TOT3|divide:vals.numTPS3}}
			
			ok1 += {{vals.OK1}}
			ok2 += {{vals.OK2}}
			ok3 += {{vals.OK3}}
			
			ko1 += {{vals.KO1}}
			ko2 += {{vals.KO2}}
			ko3 += {{vals.KO3}}
			
			trg1 += {{vals.numTPS1}}
			trg2 += {{vals.numTPS2}}
			trg3 += {{vals.numTPS3}}

		{% endfor %}
		
		
		
		
		document.getElementById('{{ tab.domain }}-tfoot_perc_Qual1').innerHTML=(percq1/count).toFixed();
		document.getElementById('{{ tab.domain }}-tfoot_perc_Qual2').innerHTML=(percq2/count).toFixed();
		document.getElementById('{{ tab.domain }}-tfoot_perc_Qual3').innerHTML=(percq3/count).toFixed();
		
		document.getElementById('{{ tab.domain }}-tfoot_perc_Exe1').innerHTML=(perce1/count).toFixed();
		document.getElementById('{{ tab.domain }}-tfoot_perc_Exe2').innerHTML=(perce2/count).toFixed();
		document.getElementById('{{ tab.domain }}-tfoot_perc_Exe3').innerHTML=(perce3/count).toFixed();
		
		document.getElementById('{{ tab.domain }}-tfoot_OK1').innerHTML=ok1;
		document.getElementById('{{ tab.domain }}-tfoot_OK2').innerHTML=ok2;
		document.getElementById('{{ tab.domain }}-tfoot_OK3').innerHTML=ok3;
		
		
		document.getElementById('{{ tab.domain }}-tfoot_KO1').innerHTML=ko1;
		document.getElementById('{{ tab.domain }}-tfoot_KO2').innerHTML=ko2;
		document.getElementById('{{ tab.domain }}-tfoot_KO3').innerHTML=ko3;
		
		document.getElementById('{{ tab.domain }}-tfoot_TRG1').innerHTML=trg1;
		document.getElementById('{{ tab.domain }}-tfoot_TRG2').innerHTML=trg2;
		document.getElementById('{{ tab.domain }}-tfoot_TRG3').innerHTML=trg3;

	
	
	
	
	{% endfor %}
	
	
	
	
	}
	
	
	
	
	

	$(document).ready(function() {
		document.getElementById('mainTitle').innerHTML='SW Statistics';
		{% for tab in tab_list %}
			//datatable initialiaztion for each tab
			{{ tab.domain }}Table = $('#{{ tab.domain }}Table').DataTable({
				dom:'<"row"<"col-sm-2"l><"col-sm-7"><"col-sm-3"f>>\
						<"row"<"col-sm-12"tr>>\
						<"row"<"col-sm-2"i><"col-sm-5"><"col-sm-5"p>>\
						<"row"<"col-sm-4"><"col-sm-4"B><"col-sm-4">>',
				buttons: [ { extend: 'copy', text: '<i class="fa fa-files-o fa-lg"></i>', titleAttr: 'Copy to Clipboard' },
				{extend: 'csv', text: '<i class="fa fa-file-text-o fa-lg"></i>', titleAttr: 'Save to CSV file'},
				{extend: 'excel', text: '<i class="fa fa-file-excel-o fa-lg"></i>', titleAttr: 'Save to Excel file'},
				{extend: 'pdf', text: '<i class="fa fa-file-pdf-o fa-lg"></i>', titleAttr: 'Save to PDF file'},
				{extend: 'print', text: '<i class="fa fa-print fa-lg"></i>', titleAttr: 'Print table'}, ],
				"columnDefs":[{"width": "20%", "targets":[0]}],
				"fnInitComplete": function() {
					this.fnAdjustColumnSizing(true);
				}
			});//end DataTable	
		{% endfor %}
		
		//event raised when tab is activated
		$('.nav-tabs a').on('shown.bs.tab', function(event){
			// used to solve a bug displaying bad table header size
			{% for tab in tab_list %}
				$('#{{ tab.domain }}Table').dataTable().fnSetColumnVis(0,true);
			{% endfor %}
		});
		UpdateTfoots();
		// initialize all tables with default view 
		View('QLT');
	});// end ready function
 
</script>

<div style="width:94%;position:fixed;left:3%;z-index:9;height:550px;margin-top:30px">

	<form name="filtro" method="post" action="/taws/statistics_sw_executed/">{% csrf_token %}
		<input type="hidden" name="id_pack1" value="{{id_pack1}}" />
		<input type="hidden" name="id_pack2" value="{{id_pack2}}" />
		<input type="hidden" name="id_pack3" value="{{id_pack3}}" />
		<input type="hidden" name="id_pack1_val" value="{{val_pack1}}" />
		<input type="hidden" name="id_pack2_val" value="{{val_pack2}}" />
		<input type="hidden" name="id_pack3_val" value="{{val_pack3}}" />
		

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary navbar-btn active" onclick="View('QLT');">
								<input type="radio" id="q156" name="tipo" checked="checked" value="quality"  />
								<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> SWP Quality
							</label> 
							<label class="btn btn-primary navbar-btn" onclick="View('EXE');">
								<input type="radio" id="q157" name="tipo" value="execution" />
								<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Test Execution
							</label> 
						</div><!-- end btn group-->
					</ul><!-- end navbar ul-->
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div class="btn-group btn-group-xs navbar-btn" data-toggle="tooltip" title="..." role="group">
									<button type="button" id='{{ build.testName }}' onclick="morgue" class="btn btn-default navbar-btn"><i class="fa fa-ambulance"></i></button>
							</div>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SW Package 3 <span class="caret"></span></a>
							<ul class="dropdown-menu" id="select3menu" >
								{{ swp_dropdown3 }}
							</ul>
						</li>
					</ul><!-- end navbar ul-->
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div class="btn-group btn-group-xs navbar-btn" data-toggle="tooltip" title="..." role="group">
									<button type="button" id='{{ build.testName }}' onclick="morgue" class="btn btn-default navbar-btn"><i class="fa fa-ambulance"></i></button>
							</div>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SW Package 2 <span class="caret"></span></a>
							<ul class="dropdown-menu" id="select2menu" >
								{{ swp_dropdown2 }}
							</ul>
						</li>
					</ul><!-- end navbar ul-->
					<ul class="nav navbar-nav navbar-right">
						<li>
							<div class="btn-group btn-group-xs navbar-btn" data-toggle="tooltip" title="..." role="group">
									<button type="button" id='{{ build.testName }}' onclick="morgue" class="btn btn-default navbar-btn"><i class="fa fa-ambulance"></i></button>
							</div>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SW Package 1 <span class="caret"></span></a>
							<ul class="dropdown-menu" id="select1menu" >
								{{ swp_dropdown1 }}
							</ul>
						</li>
					</ul><!-- end navbar ul-->
				</div><!-- end collapse navbar-->
			</div><!-- end container -->
		</nav>
		<div class="row">
			<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
				<li class="active"><a href="#summary-tab" data-toggle="tab">Summary</a></li>
				{% for tab in tab_list %} 
					<li><a href="#{{ tab.domain }}-tab" data-toggle="tab">{{ tab.domain }}</a></li>
				{% endfor %}
				<!--<li><a href="#xtest-tab" data-toggle="tab">xtest</a></li>-->
			</ul>
			<div id="my-tab-content" class="tab-content">
				<div class="tab-pane active" id="summary-tab">
						<h1>Summary</h1>
						<p>Please select SW Package to compare</p>
				</div>
				{% for tab in tab_list %} 
					<div style="width:100%; margin-top:20px;" class="tab-pane" id="{{ tab.domain }}-tab">
						
						<table class="table display table-striped table-hover table-condensed" cellspacing="0" id="{{ tab.domain }}Table" style="width:100%">
							<thead>
								
								
								<tr class="info">
									<th style="text-align:center"><h4><span class="label label-primary" id="{{ tab.domain }}-view"></span></h4></th>
									<th colspan="5" style="border-left:2px solid #DDD; text-align:center;"><h5>{{val_pack1}}</h5></th>
									<th colspan="5" style="border-left:2px solid #DDD; text-align:center;"><h5>{{val_pack2}}</h5></th>
									<th colspan="5" style="border-left:2px solid #DDD; text-align:center;"><h5>{{val_pack3}}</h5></th>
								</tr>
								<tr>
									<th><span class="label label-default">Domain</span></th>
									
									<th id="percQuality1"><span class="label label-info" style="border-left:2px solid #DDD;">%</span></th>
									<th id="percExe1"><span class="label label-info" style="border-left:2px solid #DDD;">%</span></th>
									<th id="OK1"><span class="label label-success">OK</span></th>
									<th id="KO1"><span class="label label-danger">KO</span></th>
									<th id="TRG1"><span class="label label-primary">TRG</th>
									
									<th id="percQuality2"><span class="label label-info" style="border-left:2px solid #DDD;">%</span></th>
									<th id="percExe2"><span class="label label-info" style="border-left:2px solid #DDD;">%</span></th>
									<th id="OK2"><span class="label label-success">OK</span></th>
									<th id="KO2"><span class="label label-danger">KO</span></th>
									<th id="TRG2"><span class="label label-primary">TRG</th>
									
									<th id="percQuality3"><span class="label label-info" style="border-left:2px solid #DDD;">%</span></th>
									<th id="percExe3"><span class="label label-info" style="border-left:2px solid #DDD;">%</span></th>
									<th id="OK3"><span class="label label-success">OK</span></th>
									<th id="KO3"><span class="label label-danger">KO</span></th>
									<th id="TRG3"><span class="label label-primary">TRG</th>
								
								</tr>
							
							</thead>
							
							<tbody>
								{% for vals in tab.values %} 
								<tr>
									<td>{{ vals.area_name }}</td>
									
									<td style="border-left:2px solid #DDD;">{{vals.OK1|divide:vals.TOT1}}%</td>
									<td style="border-left:2px solid #DDD;">{{vals.TOT1|divide:vals.numTPS1}}%</td>
									<td>{{vals.OK1}}</td>
									<td>{{vals.KO1}}</td>
									<td>{{vals.numTPS1}}</td>
									
									<td style="border-left:2px solid #DDD;">{{vals.OK2|divide:vals.TOT2}}%</td>
									<td style="border-left:2px solid #DDD;">{{vals.TOT2|divide:vals.numTPS2}}%</td>
									<td>{{vals.OK2}}</td>
									<td>{{vals.KO2}}</td>
									<td>{{vals.numTPS2}}</td>
									
									<td style="border-left:2px solid #DDD;">{{vals.OK3|divide:vals.TOT3}}%</td>
									<td style="border-left:2px solid #DDD;">{{vals.TOT3|divide:vals.numTPS3}}%</td>
									<td>{{vals.OK3}}</td>
									<td>{{vals.KO3}}</td>
									<td>{{vals.numTPS3}}</td>
								</tr>
								
								{% endfor %}
							</tbody>
					
							<tfoot>
								<th>TOTALS</th>
								
								<th id="{{ tab.domain }}-tfoot_perc_Qual1" style="border-left:2px solid #DDD;"></th>
								<th id="{{ tab.domain }}-tfoot_perc_Exe1" style="border-left:2px solid #DDD;"></th>
								<th id="{{ tab.domain }}-tfoot_OK1"></th>
								<th id="{{ tab.domain }}-tfoot_KO1"></th>
								<th id="{{ tab.domain }}-tfoot_TRG1"></th>
								
								<th id="{{ tab.domain }}-tfoot_perc_Qual2" style="border-left:2px solid #DDD;"></th>
								<th id="{{ tab.domain }}-tfoot_perc_Exe2" style="border-left:2px solid #DDD;"></th>
								<th id="{{ tab.domain }}-tfoot_OK2"></th>
								<th id="{{ tab.domain }}-tfoot_KO2"></th>
								<th id="{{ tab.domain }}-tfoot_TRG2"></th>
								
								<th id="{{ tab.domain }}-tfoot_perc_Qual3" style="border-left:2px solid #DDD;"></th>
								<th id="{{ tab.domain }}-tfoot_perc_Exe3" style="border-left:2px solid #DDD;"></th>
								<th id="{{ tab.domain }}-tfoot_OK3"></th>
								<th id="{{ tab.domain }}-tfoot_KO3"></th>
								<th id="{{ tab.domain }}-tfoot_TRG3"></th>
								
							</tfoot>
						</table>
			
					
					
					</div>
					
				{% endfor %}
				<!--<div class="tab-pane" id="xtest-tab">
						{% for tab in tab_list %}
						{% for vals in tab.values %} 
						<p>{{vals}}</p>
						{% endfor %}
						{% endfor %}
						
				</div>-->
				
				
				
			</div>
		</div>
	</form>
</div>

{% endblock %}
