{% extends "taws/jenkins_template.html" %}
{% block body %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "css/suiteCreator.css" %}" />
<script>
	//addLoadEvent(function() {placeIt();});
	owner='{{ login }}';
	var myURL = "{% url 'accesso' %}";
	var SECT = new Array();
	SECT[1]="{% static 'images/sect1.gif' %}";
	SECT[0]="{% static 'images/sect0.gif' %}";
	myProduct="";
	myLab="";
	myUserSuite="";
	mySharedSuite="";
	suiteID='';
	suiteName='';
	userSuiteID='';
	sharedSuiteID='';
</script>
{% for myItem in userSuiteAry %}
    <script>myUserSuite+='<li><a onclick="suiteID={{ myItem.suiteID }};suiteName=\'{{ myItem.suiteName }}\';document.getElementById(\'userSuites\').innerHTML=\'{{ myItem.suiteName }} <span class=caret></span>\' ">{{ myItem.suiteName }}</a></li>';</script>
{% endfor %}

{% for myItem in sharedSuiteAry %}
    <script>mySharedSuite+='<li><a onclick="suiteID={{ myItem.suiteID }};suiteName=\'{{ myItem.suiteName }}\';document.getElementById(\'sharedSuites\').innerHTML=\'{{ myItem.suiteName }} <span class=caret></span>\' ;">{{ myItem.suiteName }}</a></li>';</script>
{% endfor %}

{% for myItem in productAry %}
    <script>myProduct+='<li><a onclick="fillButtons(\'{{ myItem.productConcat }}\',\'sw-release\',\'{{ myItem.product }}\',\'product\');">{{ myItem.product }}</a></li>';</script>
{% endfor %}

{% for myItem in labAry %}
	<script>myLab+='<li><a href="queryDB();">{{ myItem.labName }}</a></li>';</script>
{% endfor %}

<script>

function showalert(message,alerttype) {

    $('#alert_placeholder').html('<div id="alertdiv" class="alert ' +  alerttype + '"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>')
	$("#alert_placeholder").fadeToggle("slow");
    setTimeout(function() { // this will automatically close the alert and remove this if the users doesnt close it in 5 secs


      $("#alert_placeholder").fadeToggle("slow");

    }, 5000);
  }



function changePerspective(){
	if(document.getElementById('cartTitle').innerHTML.match('Cart')){show1=5;show2=10;viewStr='View Composer <span class="caret"></span>';} else{show1=10;show2=5;viewStr='View Cart <span class="caret"></span>';}
	//document.getElementById('composerTitle').style.zIndex=show1;
	//document.getElementById('chartTitle').style.zIndex=show2;
	//document.getElementById('queries').style.zIndex=show1;
	//document.getElementById('suiteCommand').style.zIndex=show2;
	document.getElementById('testContainer').style.zIndex=show1;
	document.getElementById('testBundleContainer').style.zIndex=show2;
	document.getElementById('cartTitle').innerHTML='<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> '+viewStr;
}

function format ( myRow ) {
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>TEST ID:</td>'+
            '<td>'+myRow.testId+'</td>'+
            '<td rowspan="6">TOPOLOGY</td>'+
            '<td rowspan="6"><img width="300px" src="/static/images/'+myRow.topo+'.jpg"</img></td>'+
        '</tr>'+
        '<tr>'+
            '<td>Dependency:</td>'+
            '<td>'+myRow.dependency+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Metric:</td>'+
            '<td>'+myRow.metric+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Author:</td>'+
            '<td>'+myRow.author+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Description:</td>'+
            '<td>'+myRow.description+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Last Update:</td>'+
            '<td>'+myRow.lastUpdate+'</td>'+
        '</tr>'+
    '</table>';
}

$(document).ready(function() {
	//testTable = $('#testTable').DataTable();myOption
	document.getElementById('mainTitle').innerHTML='Job Creator';
	testTable = $('#testTable').DataTable({
		dom:'<"row"<"col-sm-7"<"dbquery">><"col-sm-5"<"dbaction">>>\
				<"row"<"col-sm-2"l><"col-sm-5"><"col-sm-2"><"col-sm-3"f>>\
				<"row"<"col-sm-12"tr>>\
				<"row"<"col-sm-3"<"totTests">><"col-sm-3"<"totTPS">><"col-sm-3"<"totTime">><"col-sm-3"<"totMetric">>>\
				<"row"<"col-sm-2"i><"col-sm-5"><"col-sm-5"p>>\
				<"row"<"col-sm-4"><"col-sm-4"B><"col-sm-4">>',
		buttons: [ { extend: 'copy', text: '<i class="fa fa-files-o fa-lg"></i>', titleAttr: 'Copy to Clipboard' },
		{extend: 'csv', text: '<i class="fa fa-file-text-o fa-lg"></i>', titleAttr: 'Save to CSV file'},
		{extend: 'excel', text: '<i class="fa fa-file-excel-o fa-lg"></i>', titleAttr: 'Save to Excel file'},
		{extend: 'pdf', text: '<i class="fa fa-file-pdf-o fa-lg"></i>', titleAttr: 'Save to PDF file'},
		{extend: 'print', text: '<i class="fa fa-print fa-lg"></i>', titleAttr: 'Print table'}, ],
		"order": [[ 2, "desc" ]],
		scrollY:'380px',
		scrollCollapse:true,"columns": [
			{
				"className":      'details-control',
				"orderable":      false,
				"data":           "control",
				"defaultContent": 'aaa'
			},
		{
			"data": "num", 
			"orderable":      false,
			"className": "dt-center" 
		},
		{
			"data": "tps", 
		},
		{ "data": "test" },
		{
			"data": "lab", 
			"className": "dt-center"
		},
		{ "data": "rev" },
		{
			"data": "time", 
			"className": "dt-center"
		},
		{
			"data": "topo",
			 "className": "dt-center"
		},
		{
			"data": "sect1",
			"className": "dt-center"
		 },
		{
			"data": "sect2",
			"className": "dt-center"
		 },
		{
			"data": "sect3",
			"className": "dt-center"
		 },
		{
			"data": "sect4",
			"className": "dt-center"
		 },
		{
			"data": "sect5",
			"className": "dt-center"
		 },
		{ 
			"data": "testId",
			"visible": false 
		},
		{ 
			"data": "dependency",
			"visible": false 
		},
		{ 
			"data": "metric",
			"visible": false 
		},
		{ 
			"data": "assignment",
			"visible": false 
		},
		{ 
			"data": "author",
			"visible": false 
		},
		{ 
			"data": "description",
			"visible": false 
		},
		{ 
			"data": "relDate",
			"visible": false 
		},
		{ 
			"data": "lastUpdate",
			"visible": false 
		},
		{ 
			"data": "testString",
			"visible": false 
		}
]
	});

	new $.fn.dataTable.Buttons( testTable, {'buttons': [
							{
								text:'<i class="fa fa-play fa"></i>',
								titleAttr: 'ADD SELECTED TCs TO SUITE',
								action:function(){insertBundleList(1,'');},
								className:'btn-custom'
							},
							{
								text:'<i class="fa fa-forward fa"></i>',
								titleAttr: 'ADD ALL TCs TO SUITE',
								action:function(){insertAllBundleList();},
								className:'btn-custom'
							},
							{
								text:'<i class="fa fa-step-forward fa"></i>',
								titleAttr: 'ADD SELECTED TCs AT SUITE POSITION',
								action:function(){insertBundleList(1,prompt('Insert Position',''));},
								className:'btn-custom'
							},
							{
								text:'<i class="fa fa-eject fa"></i>',
								titleAttr: 'PERFORM DELETE REQUEST TO DB MANAGER',
								action:function(){deleteTest();},
								className:'btn-custom'
							},

						]} );

	//testTable.buttons(1,null).container().appendTo($('.col-sm-2:eq(1)',testTable.table().container() ));
	
	$("div.buttonGroup1").html('\
						<div class="input-group input-group-sm">\
							<span class="input-group-addon" id="sizing-addon2">DB Query</span>\
							<div class="input-group-btn">\
								<div class="btn-group btn-group-sm" role="group">\
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="product">Product <span class="caret"></span></button>\
									<ul class="dropdown-menu dropdown-menu-right">'+myProduct+'</ul>\
								</div><!-- end btn_group-->\
								<div class="btn-group btn-group-sm" role="group">\
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="sw-release" disabled>SW Version <span class="caret"></span></button>\
									<ul class="dropdown-menu dropdown-menu-right" id="sw-release-dropdown"></ul>\
								</div><!-- end btn_group-->\
								<div class="btn-group btn-group-sm" role="group">\
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="domain" disabled>Domain <span class="caret"></span></button>\
									<ul class="dropdown-menu dropdown-menu-right" id="domain-dropdown"></ul>\
								</div><!-- end btn_group-->\
								<div class="btn-group btn-group-sm" role="group">\
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="area" disabled>Area <span class="caret"></span></button>\
									<ul class="dropdown-menu dropdown-menu-right" id="area-dropdown"></ul>\
								</div><!-- end btn_group-->\
							</div><!-- end input-group-btn-->\
						</div><!-- end input-group-->\
		');
    
    
	$("div.selections").html('<ul class="list-group"><li class="list-group-item">Selection counters</li></ul>');
	$("div.totTests").html('<ul class="list-group"><li class="list-group-item"><span id="badge-sel-test" class="badge">0</span>Total tests</li></ul>');
	$("div.totTPS").html('<ul class="list-group"><li class="list-group-item"><span id="badge-sel-tps" class="badge">0</span>Total TPS</li></ul>');
	$("div.totTime").html('<ul class="list-group"><li class="list-group-item"><span id="badge-sel-time" class="badge">00:00:00</span>Total Time</li></ul>');
	$("div.totMetric").html('<ul class="list-group"><li class="list-group-item"><span id="badge-sel-metric" class="badge">0</span>Total Metric</li></ul>');

	$("div.dbquery").html('\
		<nav class="navbar navbar-default">\
			<div class="container-fluid">\
				<!-- Brand and toggle get grouped for better mobile display -->\
				<div class="navbar-header">\
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">\
						<span class="sr-only">Toggle navigation</span>\
						<span class="icon-bar"></span>\
						<span class="icon-bar"></span>\
						<span class="icon-bar"></span>\
					</button>\
					<a class="navbar-brand">DB Query</a>\
				</div><!-- end navbar-header -->\
				<!-- Collect the nav links, forms, and other content for toggling -->\
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">\
					<ul class="nav navbar-nav">\
						<div class="btn-group btn-group-sm" role="group">\
							<button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="product">Product <span class="caret"></span></button>\
							<ul class="dropdown-menu dropdown-menu-right">'+myProduct+'</ul>\
						</div><!-- end btn_group-->\
						<div class="btn-group btn-group-sm" role="group">\
							<button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="sw-release" disabled>SW Version <span class="caret"></span></button>\
							<ul class="dropdown-menu dropdown-menu-right" id="sw-release-dropdown"></ul>\
						</div><!-- end btn_group-->\
						<div class="btn-group btn-group-sm" role="group">\
							<button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="domain" disabled>Domain <span class="caret"></span></button>\
							<ul class="dropdown-menu dropdown-menu-right" id="domain-dropdown"></ul>\
						</div><!-- end btn_group-->\
						<div class="btn-group btn-group-sm" role="group">\
							<button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="area" disabled>Area <span class="caret"></span></button>\
							<ul class="dropdown-menu dropdown-menu-right" id="area-dropdown"></ul>\
						</div><!-- end btn_group-->\
						<div class="btn-group btn-group-sm" data-toggle="tooltip" title="remove Selected test from DB"" role="group">\
							<button type="button" onclick="deleteTest();"class="btn btn-default navbar-btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>\
						</div><!-- end btn_group-->\
					</ul>\
				</div><!-- end navbar-collapse -->\
			</div><!-- end container-fluid -->\
		</nav><!-- end navbar -->\
	');
	
		$("div.dbaction").html('\
		<nav class="navbar navbar-default">\
			<div class="container-fluid">\
				<!-- Brand and toggle get grouped for better mobile display -->\
				<div class="navbar-header">\
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">\
						<span class="sr-only">Toggle navigation</span>\
						<span class="icon-bar"></span>\
						<span class="icon-bar"></span>\
						<span class="icon-bar"></span>\
					</button>\
					<a class="navbar-brand">Job Cart</a>\
				</div><!-- end navbar-header -->\
				<!-- Collect the nav links, forms, and other content for toggling -->\
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">\
					<ul class="nav navbar-nav">\
						<div class="btn-group btn-group-sm data-toggle="tooltip" title="Add Selected test to Suite"" role="group">\
							<button type="button" onclick="insertBundleList(1,\'\');" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Add</button>\
						</div><!-- end btn_group-->\
						<div class="btn-group btn-group-sm" data-toggle="tooltip" title="Add All tests to Suite""role="group">\
							<button type="button" onclick="insertAllBundleList(1,\'\');" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span> Add All</button>\
						</div><!-- end btn_group-->\
						<div class="btn-group btn-group-sm" data-toggle="tooltip" title="Add Selected test to position""role="group">\
							<button type="button" onclick="insertBundleList(1,prompt(\'Insert Position\',\'\'));" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span> Add To</button>\
						</div><!-- end btn_group-->\
					</ul>\
				</div><!-- end navbar-collapse -->\
			</div><!-- end container-fluid -->\
		</nav><!-- end navbar -->\
	');
	

	$('#testTable tbody').on('click', 'td.details-control', function () {
		var tr = $(this).closest('tr');
		var row = testTable.row( tr );
	 
		if ( row.child.isShown() ) {
		    // This row is already open - close it
		    row.child.hide();
		    tr.removeClass('shown');
		}
		else {
		    // Open this row
		    row.child( format(row.data()) ).show();
		    tr.addClass('shown');
		}
	    } );

	    
	    
	$('#testTable tbody').on('click','tr',function(e){
		$(this).toggleClass('info');
		updateStats('selection');
	})

	testTable.on( 'order.dt search.dt', function () {
		testTable.column(1, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
		    cell.innerHTML = i+1;
		} );
	    } ).draw();		 
	    
	testBundleTable = $('#testBundleTable').DataTable({
		dom:'<"row"<"col-sm-12"<"suiteAction">>>\
			<"row"<"col-sm-3"l><"col-sm-3"<"suiteNavigation">><"col-sm-3"<"suiteNavigation2">><"col-sm-3"f>>\
			<"row"<"col-sm-12"tr>>\
			<"row"<"col-sm-2"i><"col-sm-5"><"col-sm-5"p>>\
			<"row"<"col-sm-4"><"col-sm-4"B><"col-sm-4">>',
		buttons: [ { extend: 'copy', text: '<i class="fa fa-files-o fa-lg"></i>', titleAttr: 'Copy to Clipboard' },
		{extend: 'csv', text: '<i class="fa fa-file-text-o fa-lg"></i>', titleAttr: 'Save to CSV file'},
		{extend: 'excel', text: '<i class="fa fa-file-excel-o fa-lg"></i>', titleAttr: 'Save to Excel file'},
		{extend: 'pdf', text: '<i class="fa fa-file-pdf-o fa-lg"></i>', titleAttr: 'Save to PDF file'},
		{extend: 'print', text: '<i class="fa fa-print fa-lg"></i>', titleAttr: 'Print table'}, ],
		"order": [[ 1, "asc" ]],
		"bSort" : false,
		scrollY:'380px',
		scrollCollapse:true,"columns": [
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           "control",
                "defaultContent": ''
            },
						{
							"data": "num", 
							"className": "dt-center" 
						},
						{
							"data": "tps", 
							"className": "dt-center" 
						},
						{ "data": "test" },
						{
							"data": "lab", 
							"className": "dt-center"
						},
						{ "data": "rev" },
						{
							"data": "time", 
							"className": "dt-center"
						},
						{
							"data": "topo",
							"className": "dt-center"
						},
						{
							"data": "sect1",
							"className": "dt-center"
						},
						{
							"data": "sect2",
							"className": "dt-center"
						},
						{
							"data": "sect3",
							"className": "dt-center"
						},
						{
							"data": "sect4",
							"className": "dt-center"
						},
						{
							"data": "sect5",
							"className": "dt-center"
						},
						{ 
							"data": "testId",
							"visible": false 
						},
						{ 
							"data": "dependency",
							"visible": false 
						},
						{ 
							"data": "metric",
							"visible": false 
						},
						{ 
							"data": "assignment",
							"visible": false 
						},
						{ 
							"data": "author",
							"visible": false 
						},
						{ 
							"data": "description",
							"visible": false 
						},
						{ 
							"data": "relDate",
							"visible": false 
						},
						{ 
							"data": "lastUpdate",
							"visible": false 
						},
						{ 
							"data": "testString",
							"visible": false 
						}
				]
	});
	
	
	$("div.suiteAction").html('\
		<nav class="navbar navbar-default">\
			<div class="container-fluid">\
				<!-- Brand and toggle get grouped for better mobile display -->\
				<div class="navbar-header">\
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-suiteaction-navbar-collapse" aria-expanded="false">\
						<span class="sr-only">Toggle navigation</span>\
						<span class="icon-bar"></span>\
						<span class="icon-bar"></span>\
						<span class="icon-bar"></span>\
					</button>\
					<a class="navbar-brand">Suites</a>\
				</div><!-- end navbar-header -->\
				<!-- Collect the nav links, forms, and other content for toggling -->\
				<div class="collapse navbar-collapse" id="bs-suiteaction-navbar-collapse">\
					<ul class="nav navbar-nav navbar-center">\
						<div class="btn-group btn-group-sm" role="group">\
							<button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="userSuites">User Suites <span class="caret"></span></button>\
							<ul id="serverPersonalSuite" class="dropdown-menu dropdown-menu-right">'+myUserSuite+'</ul>\
							<button type="button" class="btn btn-default navbar-btn" onclick="if(owner==\'LOCAL\'){emptyTable(\'testTable\');}if(suiteID.value!=\'\'){owner=\'{{ login }}\';doAccess(\'loadSuite\');};"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button>\
							<button type="button" class="btn btn-default navbar-btn" onclick="if(testBundleTable.rows().data().length>0){owner=\'{{ login }}\';jsaveFile(\'userSuites\');}"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>\
							<button type="button" class="btn btn-default navbar-btn" onclick="if(suiteID.value!=\'\'&&confirm(\'Are you sure you want to delete \'+document.getElementById(\'userSuites\').innerHTML.replace(\' <span class=\'+String.fromCharCode(34)+\'caret\'+String.fromCharCode(34)+\'></span>\',\'\')+\'?\')){owner=\'{{ login }}\';emptyTable(\'testBundleTable\');doAccess(\'deleteSuite\');};"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>\
							<button type="button" class="btn btn-default navbar-btn"><i class="fa fa-share-alt"></i></button>\
						</div>\
						&nbsp;&nbsp;&nbsp;\
						<div class="btn-group btn-group-sm" role="group">\
							<button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="sharedSuites">Shared Suites <span class="caret"></span></button>\
							<ul id="serverSharedSuite" class="dropdown-menu dropdown-menu-right">'+mySharedSuite+'</ul>\
							<button type="button" class="btn btn-default navbar-btn" onclick="if(owner==\'LOCAL\'){emptyTable(\'testTable\');}if(suiteID.value!=\'\'){owner=\'SHARED\';doAccess(\'loadSuite\');};"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button>\
							<button type="button" class="btn btn-default navbar-btn" onclick="if(testBundleTable.rows().data().length>0){owner=\'SHARED\';jsaveFile(\'sharedSuites\');}"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>\
							<button type="button" class="btn btn-default navbar-btn" onclick="if(suiteID.value!=\'\'&&confirm(\'Are you sure you want to delete \'+document.getElementById(\'sharedSuites\').innerHTML.replace(\' <span class=\'+String.fromCharCode(34)+\'caret\'+String.fromCharCode(34)+\'></span>\',\'\')+\'?\')){owner=\'SHARED\';emptyTable(\'testBundleTable\');doAccess(\'deleteSuite\');};"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>\
						</div>\
						&nbsp;&nbsp;&nbsp;\
						<div class="btn-group btn-group-sm" role="group">\
							<button type="button" class="btn btn-default btn-info2 navbar-btn" onclick="if(suiteID!=\'\'){jtuneSuite();}"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> BUILD</button>\
						</div>\
					</ul>\
				</div><!-- end navbar-collapse -->\
			</div><!-- end container-fluid -->\
		</nav><!-- end navbar -->\
	');
	  
   
    $("div.suiteNavigation").html('\
    <nav class ="navbar navbar-xs navbar-default navbar-colored">\
			<div class="container-fluid">\
				<!-- Brand and toggle get grouped for better mobile display -->\
				<div class="navbar-header">\
					<button type="button" class="navbar-toggle navbar-toggle-xs collapsed" data-toggle="collapse" data-target="#LC-navbar-collapse" aria-expanded="false">\
						<span class="sr-only">Toggle navigation</span>\
						<span class="icon-bar"></span>\
						<span class="icon-bar"></span>\
						<span class="icon-bar"></span>\
					</button>\
					<a  class="navbar-brand">Move</a>\
				</div><!-- end navbar-header -->\
				<!-- Collect the nav links, forms, and other content for toggling -->\
				<div class="collapse navbar-collapse" id="LC-navbar-collapse">\
					<ul class="nav navbar-nav navbar-left">\
								<div class="btn-group btn-group-xs" role="group" aria-label="...">\
									<button type="button" class="btn btn-default navbar-btn-xs" data-toggle="tooltip" title="Move selected test to Top" onclick=""><i class="fa fa-forward fa-rotate-270"></i></button>\
									<button type="button" class="btn btn-default navbar-btn-xs" data-toggle="tooltip" title="Move selected test Up" onclick=""><i class="fa fa-play fa-rotate-270"></i></button>\
									<button type="button" class="btn btn-default navbar-btn-xs" data-toggle="tooltip" title="Move selected test Down" onclick=""><i class="fa fa-play fa-rotate-90"></i></button>\
									<button type="button" class="btn btn-default navbar-btn-xs" data-toggle="tooltip" title="Move selected test to Bottom" onclick=""><i class="fa fa-forward fa-rotate-90"></i></button>\
								</div>\
						</ul>\
				</div><!-- end navbar-collapse -->\
			</div><!-- end container-fluid -->\
		</nav><!-- end navbar -->\
	');
   
   
   
   $("div.suiteNavigation2").html('\
    <nav class ="navbar navbar-xs navbar-default navbar-colored">\
			<div class="container-fluid">\
				<!-- Brand and toggle get grouped for better mobile display -->\
				<div class="navbar-header">\
					<button type="button" class="navbar-toggle navbar-toggle-xs collapsed" data-toggle="collapse" data-target="#LC-navbar-collapse1" aria-expanded="false">\
						<span class="sr-only">Toggle navigation</span>\
						<span class="icon-bar"></span>\
						<span class="icon-bar"></span>\
						<span class="icon-bar"></span>\
					</button>\
					<a  class="navbar-brand">Remove</a>\
				</div><!-- end navbar-header -->\
				<!-- Collect the nav links, forms, and other content for toggling -->\
				<div class="collapse navbar-collapse" id="LC-navbar-collapse1">\
						<ul class="nav navbar-nav navbar-center">\
						<div class="btn-group btn-group-xs" role="group" aria-label="...">\
									<button type="button" class="btn btn-default navbar-btn-xs" data-toggle="tooltip" title="Remove selected Test" onclick=""><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Selected</button>\
									<button type="button" class="btn btn-default navbar-btn-xs" data-toggle="tooltip" title="Remove all Tests" onclick=""><span class="glyphicon glyphicon-backward" aria-hidden="true"></span> All</button>\
								</div>\
						</ul>\
				</div><!-- end navbar-collapse -->\
			</div><!-- end container-fluid -->\
		</nav><!-- end navbar -->\
	');
   
   
   
   
   
   
   
   
   
   
   
	//$('#suiteTable').DataTable();
	$('#testBundleTable tbody').on( 'click', 'tr', function () {
		$(this).toggleClass('selected');
		//$(this).toggleClass($(this)[0].id);
	    } );

	$('#testBundleTable tbody').on('click', 'td.details-control', function () {
		var tr = $(this).closest('tr');
		var row = testBundleTable.row( tr );
	 
		if ( row.child.isShown() ) {
		    // This row is already open - close it
		    row.child.hide();
		    tr.removeClass('shown');
		}
		else {
		    // Open this row
		    row.child( format(row.data()) ).show();
		    tr.addClass('shown');
		}
	    } );
	
} );

</script>

<form name="selectTest" action="" method="post" >{% csrf_token %}
	<input type="hidden" value="" name="savingName" id="savingName">
</form>

<div id="alert_placeholder" style="position:fixed;top:1px;z-index:100;width:100%;left:0px;display:none;"></div>


<div id="testContainer" style="width:94%;position:fixed;left:3%;height:550px;margin-top:30px;background-color:white;z-index:10;">
	<table class="display table table-striped table-hover table-condensed" cellspacing="0" id="testTable">
		<thead>       
			<tr>     
				<th style="width:20px" rowspan="2"></th>        
				<th style="width:20px" rowspan="2">Pos</th>
				<th style="width:115px" rowspan="2">TPS</th>
				<th rowspan="2">Test</th>
				<th style="width:33px" rowspan="2">Lab</th>
				<th style="width:50px" rowspan="2">Rev</th>
				<th style="width:40px" rowspan="2">Time</th>
				<th style="width:30px" rowspan="2">Tpgy</th>
				<th colspan="5">Sect</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>     
			<tr>     
				<th style="width:20px">DUT<br>Setup</th>
				<th style="width:20px">Test<br>Setup</th>
				<th style="width:20px">Test<br>Body</th>
				<th style="width:20px">Test<br>CleanUp</th>
				<th style="width:20px">DUT<br>CleanUp</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>     
		</thead>     
		<tfoot id="pippone">       
			<tr>
				<th style="width:20px"></th>         
				<th style="width:20px" title="Pos">Pos</th>
				<th style="width:115px" title="TPS">TPS</th>
				<th title="Test">Test</th>
				<th style="width:33px" title="Lab">Lab</th>
				<th style="width:50px" title="Rev">Rev</th>
				<th style="width:40px" title="Time">Time</th>
				<th style="width:30px" title="Tpgy">Tpgy</th>
				<th colspan="5">Sect</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</tfoot>
		
	</table>
	
</div>
<div id="testBundleContainer" style="width:94%;position:fixed;left:3%;height:550px;margin-top:30px;background-color:white;z-index:5;">
	<table class="display table table-striped table-hover table-condensed" cellspacing="0" id="testBundleTable" >
		<thead>       
				<tr>     
					<th style="width:20px" rowspan="2"></th>        
					<th style="width:20px" rowspan="2">Pos</th>
					<th style="width:115px" rowspan="2">TPS</th>
					<th rowspan="2">Test</th>
					<th style="width:33px" rowspan="2">Lab</th>
					<th style="width:50px" rowspan="2">Rev</th>
					<th style="width:40px" rowspan="2">Time</th>
					<th style="width:30px" rowspan="2">Tpgy</th>
					<th colspan="5">Sect</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>     
				<tr>     
					<th style="width:20px">DUT<br>Setup</th>
					<th style="width:20px">Test<br>Setup</th>
					<th style="width:20px">Test<br>Body</th>
					<th style="width:20px">Test<br>CleanUp</th>
					<th style="width:20px">DUT<br>CleanUp</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>     
		</thead>     
		<tfoot>       
				<tr>
					<th style="width:20px"></th>         
					<th style="width:20px">Pos</th>
					<th style="width:115px">TPS</th>
					<th>Test</th>
					<th style="width:33px">Lab</th>
					<th style="width:50px">Rev</th>
					<th style="width:40px">Time</th>
					<th style="width:30px">Tpgy</th>
					<th colspan="5">Sect</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>     
		</tfoot>
	</table>
	<!--<table>
		<tr>
			<td bgcolor="#D6E0F4" style="font-size : 8pt;" align="center" colspan="3">
				<input type="button" class="stylishButton" style="width:30px" value="<" title="REMOVE SELECTED TCs FROM SUITE" onclick="removeBundleList();" />
				<input type="button" class="stylishButton" style="width:30px" value="<<" title="REMOVE ALL TCs FROM SUITE" onclick="removeAllBundleList();" />
				<IMG onclick="newwindow=window.open('helpMe.asp#chapter5','scriptModifier','height=600,width=1000,resizable=1,scrollbars=yes');" style="height:16px;width:16;" STYLE="border: none;" SRC="{% static "images/info.png" %}" ALT="Home">
			</td>
		</tr>
	</table>-->
</div>



{% endblock %}

