{% extends "taws/report_template.html" %}
{% block body %}
{% load static %}



<script>
	var suiteowner='{{ suiteOwner }}';
	tuneFile='{{ fileName }}';
	if(topologies){topologies.length=0;}
		else{var topologies = new Array();}

	popBoxWaitImage.src = "{% static 'images/spinner40.gif' %}";
	popBoxRevertImage = "{% static 'images/magminus.gif' %}";
	popBoxPopImage = "{% static 'images/magplus.gif' %}";
	var personalPreset = new Array();
	var sharedPreset = new Array();

	{% autoescape off %}
		{{ topoAry }}
	{% endautoescape %}
	
	owner='{{ login }}';
	var myURL = "{% url 'accesso' %}";
	
</script> 





<div style="width:94%;position:fixed;left:3%;height:550px;margin-top:30px;">
	<form name='changeScript' method='post' target='_blank'>{% csrf_token %}
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand">Tuning</a>
				</div><!-- end navbar-header -->
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-btn navbar-left">
						<div class="btn-group btn-group-sm" role="group">
							<button type="button" id="prevBtn" data-toggle="tooltip" title="Go to previous topology" onclick="" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>
							<button type="button" id="nextBtn" data-toggle="tooltip" title="Go to next Topology" onclick="" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
						</div><!-- end btn_group-->
						<div class="btn-group btn-group-sm" role="group">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
					</ul>
					<ul class="nav navbar-btn navbar-left">
						<div class="btn-group btn-group-sm" role="group">
							<button type="button" data-toggle="modal" title="Bulid the selected Jenkins Project" data-target="#tuneModal" class="btn btn-info navbar-btn"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Let's Go Tune</button>
						</div><!-- end btn_group-->
						<div class="btn-group btn-group-sm" role="group">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
					</ul>
					<ul class="nav navbar-btn navbar-right">
						<div class="btn-group btn-group-sm" role="group">
							<button class="btn btn-default dropdown-toggle navbar-btn" type="button" id="dropdownUserPreset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								Shared Presets <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownUserPreset">
									{% for myItem in sharedPreset %}
										<li><a id="{{ myItem.sharedPresetID }}" name="{{myItem.sharedPresetName}}">{{ myItem.sharedPresetName }}</a></li>
									{% endfor %}
							</ul>
							<button type="button" data-toggle="tooltip" title="Load Shared Preset" onclick="" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button>
							<button type="button" data-toggle="tooltip" title="Save Shared Preset" onclick="" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
							<button type="button" data-toggle="tooltip" title="Delete Shared Preset" onclick="" class="btn btn-default btn-danger navbar-btn"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
						</div><!-- end btn_group-->
					</ul>
					<ul class="nav navbar-btn navbar-right">
						<div class="btn-group btn-group-sm" role="group">
							<button class="btn btn-default dropdown-toggle navbar-btn" type="button" id="dropdownUserPreset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								User Presets <span class="caret"></span>
							</button>
							<ul id="userPreset" class="dropdown-menu" aria-labelledby="dropdownUserPreset">
								{% for myItem in userPreset %}
									<li><a id="{{ myItem.userPresetID }}" name="{{myItem.userPresetName}}">{{ myItem.userPresetName }}</a></li>
								{% endfor %}
							</ul>
							<button type="button" data-toggle="tooltip" title="Load User Preset" onclick="" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button>
							<button type="button" data-toggle="tooltip" title="Save User Preset" onclick="" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
							<button type="button" data-toggle="tooltip" title="Delete User Preset" onclick="" class="btn btn-default btn-danger navbar-btn"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
						</div><!-- end btn_group-->
						<div class="btn-group btn-group-sm" role="group">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
					</ul>
				</div><!-- end navbar-collapse -->
			</div><!-- end container-fluid -->
		</nav><!-- end navbar -->
 
		<input type='hidden' name='changeValues'>
		<input type='hidden' name='tuningList'>
		<input type='hidden' name='tuningBundle' value="{{ suiteID }}">
		<input type='hidden' name='tuningLabel'>
		<input type='hidden' name='description'>
		<input type='hidden' name='owner'>
		<input type='hidden' name='presets'>
		<input type='hidden' name='presetBody'>
		<input type='hidden' name='newPreset'>
		<input type='hidden' name='sharedJob' value="off">
 </form>
 
	<div id="div_topology_browser" class="col-sm-6">		
		<img id="topologyImage" class="PopBoxImageSmall" onclick="Pop(this,50,'PopBoxImageLarge');" width="450px" height="450px">
	</div>
	
	<div id="div_topology_table" class="col-sm-6">
		<h2 id='topoTitle'>Title</h2>
		<table class="display table table-striped table-hover table-condensed" id="showedTable">
			<thead>
				<tr>
					<th>label</th>
					<th></th>
					<th>Value</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	
</div><!-- end main div -->

<!-- Modal for Tuning Operations -->
<div id="tuneModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title">Suite Tuning</h3>
			</div>
			<div class="modal-body">
				<h4>Build the selected Job with current preset values.</h4>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Tune for Running</h3>
					</div>
					<div class="panel-body">
						Current suite will be compiled into a Jenkins Job containing all test case.
						The Job shall be ready to be run either in K@te Environment or directly from Jenkins Interface.
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Tune for Local development.</h3>
					</div>
					<div class="panel-body">
						Current suite will be compiled for local test development.
						All test cases will be copied into current user development environment.
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Tune for Running</button>
				<button type="button" class="btn btn-default btn-info" data-dismiss="modal">Tune for Local Dev</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div><!-- end modal -->



<script>
	
	$(document).ready(function() { 
		$('[data-toggle="popover"]').popover(); 
		document.getElementById('mainTitle').innerHTML='Job Management';
		valueTable = $('#showedTable').DataTable({
			dom:'<"row"<"col-sm-12"tr>>',
			scrollY:'380px',
			"bSort" : false,
			scrollCollapse:true,"columns": [
				{
					"data": "label", 
					"className": "dt-center" 
				},
				{
					"data": "labelID", 
					"visible" : false
				},
				{
					"data": "value", 
					"className": "dt-center" 
				},
				{
					"data": "valueID", 
					"visible" : false
				}
				]
		});//end DataTable
	
	});
	
	
	
	
	window.onload=function(){showStartUp();}


	var tuningValues = new Array();
	var personalPresetAry = personalPreset;
	var sharedPresetAry = sharedPreset;
	var TAWSVersion = '1.0.0';
	var availableTopology='';
	var currentTopology='';

	function showStartUp(){
		if(suiteowner=='LOCAL'){document.getElementById("localTesting").disabled=true;}
		document.getElementById('mainTitle').innerHTML = "Tuning for " + tuneFile;
		show(0);
	}

	function show(topoIndex){
		topoName=topologies[topoIndex][0];
		valueTable.clear().draw();
		document.getElementById('topoTitle').innerHTML="Topology " + topoName;
		currentTopology=topoIndex;
		currentLabel='';
		for(i=0;i<topologies[topoIndex][1].length;i++){
			if(topologies[topoIndex][1][i].indexOf('#')<0){
				if(i==topologies[topoIndex][1].length){
					createElement(topologies[topoIndex][1][i],topologies[topoIndex][2][i],i,'bottom','',topologies[topoIndex][4][i]);
				}else{
					createElement(topologies[topoIndex][1][i],topologies[topoIndex][2][i],i,'none','',topologies[topoIndex][4][i]);
				}
			}else{
				createElement(topologies[topoIndex][6][i],topologies[topoIndex][2][i],i,'top',topologies[topoIndex][1][i].replace('#',''),topologies[topoIndex][4][i]);
				currentLabel=topologies[topoIndex][6][i];
			}
		}
		document.getElementById('prevBtn').onclick = function(){show(topoIndex-1);}
		document.getElementById('nextBtn').onclick = function(){show(topoIndex+1);}
		if(topoIndex==0){document.getElementById('prevBtn').onclick = function(){show(topologies.length-1);}}
		if(topoIndex==topologies.length-1){document.getElementById('nextBtn').onclick = function(){show(0);}}
		if(topoName.isNaN){document.getElementById('topologyImage').src='/static/images/' + topoName.substr(0,topoName.length-1) + '.jpg';}
		else{document.getElementById('topologyImage').src='/static/images/' + topoName + '.jpg';}
		//colorTable('showedTable');
	}

	function createElement(name,description,progressiveID,borderType,eqptType,idEntity){
		//myTable=document.getElementById('showedTable');
		//var myRow=myTable.insertRow();
		//if(borderType=='top'){myRow.style.borderTop='3px solid black';}
		//if(borderType=='bottom'){myRow.style.borderBottom='3px solid black';}
		//var myCell = myRow.insertCell();
		//textNode = document.createElement ('p');
		//textNode.setAttribute("title",description)
		//textNode.appendChild (document.createTextNode (name));
		//myCell.appendChild(textNode);
		//var flagsInput = document.createElement("input");
		if(borderType=='top'){
			buttonText='...';
			if(topologies[currentTopology][3][progressiveID]!=''){buttonText=topologies[currentTopology][3][progressiveID]}
			valueID=progressiveID+'$'+eqptType+'$'+idEntity;
			value='<button onclick="window.open(\'/taws/selectEqpt/?myVars=\'+valueTable.row($(this).closest(\'tr\')).data().valueID,\'viewReportTrunk\',\'height=600,width=1000,resizable=1\');">'+buttonText+'</button>';
		}else{
			valueID=progressiveID;
			if(topologies[currentTopology][3][progressiveID]!=''){myValue=topologies[currentTopology][3][progressiveID];}
				else{myValue="";}
			value='<input type="text" onchange="topologies[currentTopology][3][this.id]=this.value;" value="'+myValue+'">';
		}
		//myCell = myRow.insertCell();
		//myCell.appendChild(flagsInput);
		valueTable.row.add({
			"label" : '<span title="'+description+'">'+name+'</span>',
			"labelID" : name,
			"value" : value,
			"valueID" : valueID
		}).draw( false );
	}

	function removeAllChild(){
		myTable=document.getElementById('showedTable');
		numRows=myTable.rows.length;
		for(i=1;i<numRows;i++){
			myTable.deleteRow(1);
		}
	}

	function jsendTuning(){
		//alert(document.getElementById('localTesting').value);
		changeScript.action='/taws/tuningEngine/';
		changeScript.target='_blank';
		tuningFields = getTuningValues();
		if(tuningFields!=''){
			document.changeScript.changeValues.value=tuningFields;
			//document.changeScript.tuningList.value=tuneList;
			//document.changeScript.tuningBundle.value=tuneFile;
			if(document.getElementById('localTesting').value=='off'){
				tuningLabelPrompt = prompt('Insert Tuning Label...','myTuning');
				descriptionPrompt = prompt('Insert Job Description...','');
				if((tuningLabelPrompt != null)&&(descriptionPrompt!=null)){
					document.changeScript.tuningLabel.value=tuningLabelPrompt.replace(/'/g,"");
					document.changeScript.description.value=descriptionPrompt.replace(/'/g,"");
					document.changeScript.submit();
				}else{
					alert('Label Missing!');
				}
			}else{
				document.changeScript.submit();
			}
		}
	}

	function getTuningValues(){
		found=false;
		tuningString='';
		availableTopology='';
		for(i=0;i<topologies.length;i++){
			for(k=0;k<topologies[i][1].length;k++){
				if(topologies[i][3][k]==''){
					found=true;break;
				}else{
					//if(topologies[i][3][k].indexOf('$')>0){
					//	temp=topologies[i][3][k].split('$');
					//	topologies[i][3][k]=temp[0];
					//}
					if(tuningString!=''){tuningString+='?';}
					tuningString+=topologies[i][4][k]+"|"+topologies[i][3][k]+"|"+topologies[i][5][k];
				}
			}
			if(found==false){availableTopology+='*'+topologies[i][0]+'*';}
		}
		if(found==true){
			alert('Some fields are missing...');
			tuningString='';
		}
		return tuningString;
	}

	function checkSave(presetSelect){
		if(changeScript.personalPreset.value!=''){oldPreset=changeScript.personalPreset.value;}
			else{oldPreset='newPreset';}
		myValues=getTuningValues();
		if(myValues){
			mySelect=document.getElementById("personalPreset");
			//changeScript.action='accesso.asp?azione=savePreset';
			//changeScript.target='connection';
			changeScript.presetBody.value=myValues;
			if(mySelect.value==''){
				presetName=prompt('Insert Preset Name...',oldPreset);
				if(presetName!='Insert Preset'&&presetName!=null){confirmed=true;}
				//if(presetName.substr((presetName.length - 4),(presetName.length - 1))!='.prs'){presetName+='.prs'};
				changeScript.presets.value=presetName.replace(/'/g,"");
			}else{
				confirmed=confirm('Are you sure you want to overwrite '+mySelect.options[mySelect.selectedIndex].text+'?');
				if(confirmed){
					changeScript.presets.value=mySelect.options[mySelect.selectedIndex].value;
					changeScript.newPreset.value='off';
				}else{
					changeScript.presets.value=prompt('Insert Preset Name...','newPreset');
					confirmed=true;
					//changeScript.presets.value=mySelect.options[mySelect.selectedIndex].text;
					changeScript.newPreset.value='on';
				}
			}
			//if(confirmed){changeScript.submit();}
			if(confirmed){doAccess('savePreset');}
		}
	}

	function updatePresetList(preset,target,currentPreset){
		tempPresetVersion = preset.split('?');
		mySelect=document.getElementById(target);
		mySelect.options.length=0;
		var addTest = document.createElement('option');
		addTest.text = "Select Here...";
		addTest.value = "";
		mySelect.add(addTest);
		obsoletePreset='';
		for(i=0;i<preset.length;i++){
			tempValue=tempPresetVersion[i].split('|');
			var addTest = document.createElement('option');
			addTest.text = tempValue[0];
			addTest.value = tempValue[1];
			mySelect.add(addTest);
			if(tempValue[1]==currentPreset){mySelect.selectedIndex = i+1;}
		}
	}

	function loadPreset(target,preset){
		tempPreset = preset.split('?');
		for(i=0;i<tempPreset.length;i++){
			tempPresetValue = tempPreset[i].split('|');
			//found=false;
			for(k=0;k<topologies.length;k++){
				for(z=0;z<topologies[k][1].length;z++){
					if(tempPresetValue[0]==topologies[k][4][z]){
						topologies[k][3][z]=tempPresetValue[2];
						topologies[k][5][z]=tempPresetValue[1];
						//found=true;
						//break;
					}
				}
				//if(found==true){break;}
			}
		}
		show(0);
		if(target!='SHARED'){changeScript.sharedPreset.selectedIndex=0;}
			else{changeScript.personalPreset.selectedIndex=0;}
	}

	function deletePreset(selectObj,preset,ownership){
		if(selectObj.value!=''){
			presetStr=selectObj[selectObj.selectedIndex].text;
			presetValue=selectObj.value;
			if(confirm('Are you sure you want to delete '+presetStr+'?')){
				window.opener.pivot.action='accesso.asp?azione=deletePreset&presetID='+presetValue;
				window.opener.pivot.submit();
			}
		}
	}

	function sharePreset(selectObj,preset,ownership){
		if(selectObj.value!=''){
			tempPreset=preset[selectObj.value].split('\D1');
			oldPreset=tempPreset[tempPreset.length-1];
			if(confirm('Are you sure you want to share '+oldPreset+'?')){
				window.opener.location.href='accesso.asp?azione=shareSuite&suiteName='+oldPreset+'&suiteCreator='+ownership+'&target=preset';
			}
		}
	}

	function colorTable(tableName){
		var myRows = document.getElementById(tableName).rows;
		for(k = 0;k < myRows.length-1;k++){
			if (k%2){myRows[k+1].style.background='#eeeeee';}
				else{myRows[k+1].style.background='white';}
		}
	}

</script>




{% endblock %}

