{% extends "taws/report_template.html" %}
{% block body %}
{% load static %}
<script>
	function goToJob(){
		report.action='/taws/viewJobDetails/?jobName={{ job_name }}';
		report.submit();
	}
	
	
	
	
	$(document).ready(function() {
	document.getElementById('mainTitle').innerHTML='Job Details';
	jobTable = $('#stepResultTable').DataTable({
		dom:'<"row"<"col-sm-2"l><"col-sm-7"><"col-sm-3"f>>\
				<"row"<"col-sm-12"tr>>\
				<"row"<"col-sm-2"i><"col-sm-5"><"col-sm-5"p>>\
				<"row"<"col-sm-4"><"col-sm-4"B><"col-sm-4">>',
		buttons: [ { extend: 'copy', text: '<i class="fa fa-files-o fa-lg"></i>', titleAttr: 'Copy to Clipboard' },
		{extend: 'csv', text: '<i class="fa fa-file-text-o fa-lg"></i>', titleAttr: 'Save to CSV file'},
		{extend: 'excel', text: '<i class="fa fa-file-excel-o fa-lg"></i>', titleAttr: 'Save to Excel file'},
		{extend: 'pdf', text: '<i class="fa fa-file-pdf-o fa-lg"></i>', titleAttr: 'Save to PDF file'},
		{extend: 'print', text: '<i class="fa fa-print fa-lg"></i>', titleAttr: 'Print table'},
		{
			text:'<i class="fa fa-database fa"></i>',
			titleAttr: 'Export report to K@TE Database',
			action:function(){exportReport();},
			className:'btn-custom'
		},
		
		],
		scrollY:'380px',
		scrollCollapse:true,"columns": [
			{
				"data": "step_action", 
				"className": "dt-center" 
			},
			{
				"data": "step_id", 
				"className": "dt-center" 
			},
			{ "data": "step_name",
			"className": "dt-center"
			},
			{
				"data": "step_result", 
				"className": "dt-center"
			},
			{ "data": "step_duration" },
			{ "data": "step_NodeName" },
			{ "data": "step_NodeType" },
			{ "data": "step_NodeSWP" },
			{
				"data": "step_jiraStory", 
				"className": "dt-center"
			},
			{
				"data": "step_jiraTask", 
				"className": "dt-center"
			}
			]
	});//end DataTable
	
	
});// end ready function

</script>
<div id="alert_placeholder" style="position:fixed;bottom:1px;z-index:100;width:100%;left:0px;display:none;"></div>

<div style="width:94%;position:fixed;left:3%;z-index:9;height:550px;margin-top:30px">
	<div>
		<ol class="breadcrumb">
			<li><a href="/taws/runJenkins/">Jobs</a></li>
			<li><a href="#" onclick="goToJob()">{{ job_name }}</a></li>
			<li class="active">{{ instance }}</li>
		</ol>
	</div>
	<table class="display table table-bordered table-condensed" cellspacing="1" id="testSummaryTable" style="width:100%">
		<thead>
			<tr class="info">
				<td>Status</td>
				<td>Name</td>
				<td>Owner</td>
				<td>Start</td>
				<td>Duration</td>
				<td>KATE DB</td>
			</tr>
		</thead>
		<tbody>
			<tr class="active">
				<td id='JKSStatus'>{{ status }}</td>
				<td id='suite'>Job {{ job_name }} Build # {{ instance }}</td>
				<td id='owner'>{{ owner }}</td>
				<td id='start'>{{ timeStamp }}</td>
				<td id='end'>{{ duration }}</td>
				<td id='tawsdb'>{{ KateDB }}</td>
			</tr>
		</tbody>
	</table>
	<form name="report" action="" method="post" target="_self">{% csrf_token %}
		<input type="hidden" name="jobName" value="{{ job_name }}">
		<input type="hidden" name="buildId" value="{{ instance }}">
		<input type="hidden" name="azione" value="process">
		<input type="hidden" name="testName" value="">
		<table class="display table table-striped table-hover table-condensed" cellspacing="0" id="stepResultTable" style="width:100%">
			<thead>
				<tr>
					<th></th>
					<th>N.</th>
					<th>Test List</th>
					<th>Report</th>
					<th>Duration</th>
					<th>NodeName</th>
					<th>NodeType</th>
					<th>NodeSWP</th>
					<th>Story</th>
					<th>Task</th>
				</tr>
			</thead>
			<tfoot>
			</tfoot>
			<tbody>
				{% for build in buildMatrix %}
					<tr>
						<td style="vertical-align:middle;">
							<div class="btn-group btn-group-xs" data-toggle="tooltip" title="View Job Id Details" role="group">
								<button type="button" id='{{ build.testName }}' onclick="report.action='/taws/viewReport/';report.testName.value='{{ build.testName }}';submit();" class="btn btn-default btn-{{ build.bgcolor }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
							</div>
						</td>
						<td style="vertical-align:middle;">{{ build.counter }}</td>
						<td style="vertical-align:middle;">{{ build.testName }}</td>
						<td style="vertical-align:middle;">{{ build.testStatus }}</td>
						<td style="vertical-align:middle;">{{ build.testDuration }}</td>
						<td>
							<ul class="list-group">
								{% for tps in build.tpsList %}
									<li class="list-group-item list-group-item-{{tps.tpsBgcolor}}">{{ tps.nodeName }}</li>
								{% endfor %}
							</ul>
						</td>
						<td>
							<ul class="list-group">
								{% for tps in build.tpsList %}
									<li class="list-group-item list-group-item-{{tps.tpsBgcolor}}">{{ tps.nodeType }}</li>
								{% endfor %}
							</ul>
						</td>
						<td>
							<ul class="list-group">
								{% for tps in build.tpsList %}
									<li class="list-group-item list-group-item-{{tps.tpsBgcolor}}">{{ tps.nodeSWP }}</li>
								{% endfor %}
							</ul>
						</td>
						<td>
							<ul class="list-group">
								{% for tps in build.tpsList %}
									<li class="list-group-item list-group-item-{{tps.tpsBgcolor}}">{{ tps.tpsArea }}</li>
								{% endfor %}
							</ul>
						</td>
						<td>
							<ul class="list-group">
								{% for tps in build.tpsList %}
									<li class="list-group-item list-group-item-{{tps.tpsBgcolor}}">{{ tps.tpsName }}</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		
		</table>
	</form>













	<!--<center>
	<form name="report" action="" method="post" target="_self">{% csrf_token %}
		<input type="hidden" name="jobName" value="{{ job_name }}">
		<input type="hidden" name="buildId" value="{{ instance }}">
		<input type="hidden" name="azione" value="process">
		<input type="hidden" name="testName" value="">
			<table align="center" id="reportTable" style="empty-cells: show;font-size : 8pt;width:100%;border-collapse: collapse;border-color:#999999;table-layout: fixed;">
				<tr style="height:20px;font-size :8pt;text-decoration:none; font-family:verdana, sans-serif; color:#fff; font-weight: bold;background-color:#660099;">
					<td align="center">Test Result Table</td>
				</tr>
				<tr style="height:205px;">
					<td valign="top" height="100%">
						<table align="center" id="runListTable" border='1'style="font-size : 8pt;width:100%;border-collapse: collapse;">
							<tr BGCOLOR="#BFEAEE">
								<td valign="top">
									<table align="center" valign="middle" id="statusTable" border="1" style="font-size : 8pt;border-collapse: collapse;width:100%;">
										<tr align='center' style="font-size :8pt;text-decoration:none; font-family:verdana, sans-serif; color:#fff; font-weight: bold;background-color:#660099;">
											<td style="width:70px;">Status</td>
											<td>Name</td>
											<td style="width:50px;">Owner</td>
											<td style="width:120px;">Target</td>
											<td style="width:65px;">SWP</td>
											<td style="width:90px;">Start</td>
											<td style="width:90px;">Duration</td>
											<td style="width:90px;">TAWS DB</td>
										</tr>
										<tr align='center' style="font-size :8pt;text-decoration:none; font-family:verdana, sans-serif; color:#000000; font-weight: bold;background-color:#D6E0F4;">
											<td style="height:40px;" id='ATMStatus'>{{ status }}</td>
											<td id='suite'>Job {{ job_name }} Build # {{ build_name }}</td>
											<td id='owner'>NA</td>
											<td id='targetBench'>{{ target }}</td>
											<td id='SWP'>NA</td>
											<td id='start'>{{ timeStamp }}</td>
											<td id='end'>{{ duration }}</td>
											<td id='tawsdb'>NA</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr style="height:18px;">
								<td>
									<table align="center" style="font-size : 8pt;border-collapse: collapse;table-layout: fixed;width:100%;">
										<tr style="font-size :8pt;text-decoration:none; font-family:verdana, sans-serif; color:#fff; font-weight: bold;background-color:#660099;">
											<th style="width:15px;"></th>
											<th style="width:25px;text-align:center;">N.</th>
											<th>Test List</th>
											<th style="width:50px;">Report</th>
											<th style="width:110px;">Duration</th>
											<th style="width:70px;">Story</th>
											<th style="width:60px;">Task</th>
											<th style="width:15px;"></th>
										</tr>
									</table>
								</td>
							</tr>
							<tr style="height:100%;">
								<td valign="top">
									<div style="height:100%;overflow:scroll;">
									<table align="center" id="reportSummary" style="border-collapse: collapse;font-size :8pt;text-decoration:none; font-family:verdana, sans-serif;; table-layout: fixed;width:100%;">
										{% for build in buildMatrix %}
											<tr bgcolor='{{ build.bgcolor }}' style='color:{{ build.fontcolor }};border-bottom:1px;'>
												<td style="width:15px;"><input type="button" id="{{ build.testName }}" onclick="report.action='/taws/viewReport/';report.testName.value=this.id;submit();" style="border:none;height:15px;width:15px;background-size:15px 15px;background-color:{{ build.bgcolor }};background-image: url({% static 'images/lente.png' %})"></td>
												<td style='width:25px;text-align:center;'>{{ build.counter }}</td>
												<td style="text-align:left;margin-left:20px;">{{ build.testName }}</td>
												<td style='width:50px;'>{{ build.testStatus }}</td>
												<td style='width:110px;text-align:center;'>{{ build.testDuration }}</td>
												<td style='width:130px;'><table style="border-collapse:collapse;">
												{% for tps in build.tpsList %}
													<tr style="text-align:center;">
														<td bgcolor='{{ tps.tpsBgcolor }}' style='color:{{ tps.tpsFontcolor }};width:70px;'>{{ tps.tpsArea }}</td>
														<td bgcolor='{{ tps.tpsBgcolor }}' style='color:{{ tps.tpsFontcolor }};width:60px;'>{{ tps.tpsName }}</td>
													</tr>
												{% endfor %}
												</table></td>
											</tr>
										{% endfor %}
									</table>
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr style="height:25px;">
					<td align="center" border="1" style="font-size :10pt;" bgcolor="#D6E0F4"><b>Export to : </b>
						<IMG onclick="newwindow=window.open('helpMe.asp#chapter11','scriptModifier','height=600,width=1000,resizable=1,scrollbars=yes');" style="height:16px;width:16;" STYLE="border: none;" SRC="{% static 'images/info.png' %}" ALT="Home">
						<input type="button" class="stylishButton" value="XLS" onclick="if(excelValues.value!=''){report.target='connection';report.action='accesso.asp?azione=exportExcel';submit();}">
						<!--<input type="button" class="stylishButton" value="TSRT" onclick="if(excelValues.value!=''){report.target='principale';report.action='tsrtForm.asp';submit();}">-->
						<!--<input type="button" class="stylishButton" id="TAWSBtn" value="TAWS DB" onclick="if(excelValues.value!=''){tempValue=excelValues.value.split('#');if(isNaN(tempValue[0])){alert('Results Belonging to Local Testing Suite.\nImpossible to upload results on Server...\n');}else{top.linkFrame.TPS=excelValues.value;extractTCFromExcelValues(excelValues.value,productList.value);}}">-->
	<!--					<input type="button" class="stylishButton" id="TAWSBtn" value="TAWS DB" onclick="report.action='/taws/collectReports/';submit();">
						<input type="button" class="stylishButton" id="updateDur" value="Update Durations" onclick="if(excelValues.value!=''){updateTimes();}">
						<!--<input type="button" class="stylishButton" disabled id="RecoveryBtn" disabled value="Recovery Suite" onclick="recoverSuite('');">-->
						<!--<input type="button" class="stylishButton" disabled id="LatencyBtn" value="Conformance Report" onclick="LtcyReport.value='';report.target='principale';report.action='conformance.asp?update=none';submit();">-->
						<!--<input type="button" class="stylishButton" disabled id="LoggingBtn" value="DCI Certification" onclick="parent.topPage.connection.location.href='pythonAccess.asp?azione=1830Certification&savingStringValue=';">-->
	<!--				</td>
				</tr>
		</table>
	</form>
</center>-->
</div>
<script>
function recoverSuite(mySuite){
	if(report.saveBody.value!=''){
		tempSuite=mySuite.split('-TUNED-');
		suffix=tempSuite[tempSuite.length-1].split('_');
		report.action='pythonAccess.asp?azione=savesuite';
		report.target='connection';
		report.targetFile.value=tempSuite[0]+'-RECOVERY-'+suffix[0]+'.mlt';
		report.submit();
	}
}

function loadReport(reportName,reportType){
	if(reportName!=''&&reportType!=''){
		if(reportType=='RT'){
			//top.tsrtReport=reportName;
			parent.topPage.connection.location.href='accesso.asp?azione=getReportRT&reportName=' + reportName;
		}else{
			//top.tsrtReport=reportName;
			parent.topPage.connection.location.href='pythonAccess.asp?azione=analyzeATMReport&reportName=' + reportName;
			}
	}
}


function exportReport(){
	report.action='/taws/collectReports/';
	if('{{ KateDB }}'=='KO'){report.submit();}
		else{showalert("Result already exported to KATE DB...","alert-danger")}
}

</script>

{% endblock %}


