{% extends "taws/development_template.html" %}
{% block body %}
{% load static %}
<script>
	function goToJob(){
		report.action='/taws/viewJobDetails/?jobName={{ job_name }}';
		report.submit();
	}
	function goToBuild(){
		report.action='/taws/viewBuildDetails/';
		report.submit();
	}
</script>

<div style="width:200px;height:31px;position:absolute;right:50%;margin-right:-512px;margin-top:-20px;background-color:#414141;">
	<h2 style="color:white;font-size: 15px;text-align:right;font-family: Verdana;margin:2px 10px 0px 0px;">View XML Report</h2>
</div>
<div style="width:30px;position:absolute;left:50%;margin-left:-512px;z-index:9;height:700px;margin-top:60px;">
	<h3>/<a href="/taws/runJenkins/"><u>Jobs</u></a>/<a href="#" onclick="goToJob()"><u>{{ job_name }}</u></a>/<a href="#" onclick="goToBuild()"><u>{{ buildId }}</u></a>/{{ testName }}<h3>
</div>
<div style="width:1024px;position:absolute;left:50%;margin-left:-512px;z-index:9;height:700px;margin-top:90px;">
	<form name="report" action="" method="post" target="_self">{% csrf_token %}
		<input type="hidden" name="jobName" value="{{ job_name }}">
		<input type="hidden" name="buildId" value="{{ buildId }}">
		<input type="hidden" name="testName" value="">
	</form>
	<ol class="tree" style="font-size: 12pt;">
		{{ treeView }}

	</ol>
</div>
{% endblock %}	

